{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Nationality list' %}
{% endblock %}

{% block head %}
    {% include 'include_files/dataTables.html' %}
{% endblock %}

{% block main %}
    <div class="box-header">
      <h3 class="box-title">{% trans 'Nationality list' %}</h3>
    </div>
    <div class="box-body">

        <div class="box-footer">
            <a class="btn btn-primary glyphicon glyphicon-plus-sign" href="{%  url 'nationality_add' %} "> {% trans 'New' %}</a>
        </div>

        <table id = 'table' class = " table table-striped table-hover table-bordered">
            <thead>
                <tr>
                        <td>№</td>
                        <td>{% trans 'Name' %}</td>
                        <td>{% trans 'Code' %}</td>
                        <td>{% trans 'Show' %}</td>
                        <td>{% trans 'Edit' %}</td>
                    </tr>
            </thead>
            <tbody>
                {% for nationality in nationalities %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ nationality.name }}</td>
                        <td>{{  nationality.code  }}</td>
                        <td><a class = 'btn btn-default glyphicon glyphicon-edit' href="{%  url 'nationality_edit' nationality.id %}"> {% trans 'Edit' %}</a> </td>
                        <td><a class="btn  btn-default glyphicon glyphicon glyphicon-eye-open" href="{% url 'nationality_show' nationality.id %}">{% trans  'Show' %}</a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

