{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans 'Edit' %} | {{ city.name }}
{% endblock %}

{% block head %}
    {% include "autocomplete_light/static.html" %}
{% endblock %}

{% block main %}
    <div class="box-header">
      <h3 class="box-title">{% trans 'Add' %} {% trans 'city' %}</h3>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="box-body">
            <table>
                {{ form.as_table }}
            </table>
        </div>
        <div class="box box-footer">
            <input type="submit" class = 'btn btn-success btn-block btn-flat' value="{% trans 'Edit' %}"/>
        </div>
    </form>
{% endblock %}