{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'List of places or addresses' %}
{% endblock %}

{% block head %}
    {% include 'include_files/dataTables.html' %}
{% endblock %}

{% block main %}
    <div class="box-header">
      <h3 class="box-title">{% trans 'List of places or addresses' %}</h3>
    </div>
     <div class="box-footer">
        <a class="btn btn-primary glyphicon glyphicon-plus-sign" href="{%  url 'places_address_add' %} "> {% trans 'New' %}</a>
    </div>
    <div class="box-body">
        <table id = 'table' class = " table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>№</th>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Address' %}</th>
                    <th>{% trans 'type' %}</th>
                    <th>{% trans 'Edit' %}</th>
                    <th>{% trans 'Show' %}</th>
                </tr>
            </thead>
            <tbody>
                   {% for places_address in places_addresses%}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ places_address.name }}</td>
                        <td>{{  places_address.address }}</td>
                        <td>{{  places_address.type.name }}</td>
                        <td><a class = 'btn btn-default glyphicon glyphicon-edit' href="{%  url 'places_address_edit' places_address.id %}"> {% trans 'Edit' %}</a> </td>
                        <td><a class="btn  btn-default glyphicon glyphicon glyphicon-eye-open" href="{% url 'places_address_show' places_address.id %}">{% trans  'Show' %}</a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

