{% extends 'base.html' %}
{% load i18n %}

{% block head %}
    {% include "autocomplete_light/static.html" %}
{% endblock %}

{% block main %}
	<form method="post" onsubmit="return confirm('{% trans "All data of old test case will be erased! Do you really want to continue?" %}');">
	{% csrf_token %}
	<table>
		{{form}}
		<tr>
			<td>
			</td>
			<td><input class='btn btn-primary' type="submit" value="{% trans 'Save' %}"></input></td>
		</tr>
	</table>
	</form>
{% endblock %}