{% extends 'base.html' %}
{% load i18n %}

{% block head %}
    {% include "autocomplete_light/static.html" %}
{% endblock %}

{% block main %}
    <style>
        .correct {
            background: green;
            color: white;
        }
    </style>
    <div class="box-body">
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input class="btn" type="submit" value="ok">
        </form>
        <table class="table table-bordered" >
            {% for item in data %}
                <tr>
                    <td width="100px">{{ item.test_variant_base.test_case.code }}</td>
                    <td>{{ item.test_variant_base.test_case.subject }}</td>
                    <td>{{ item.student }}</td>
                    <td>{{ item.student.learning_group.get_full_name }}</td>
                    <td>{{ item.total_score }}</td>
                </tr>
            {% endfor %}
        </table>
        <div>
            <a href="{% url 'to_document_test_result' %}" class="btn btn-primary" id = 'doc_export'>{% trans 'Export to word' %} </a>
        </div>
    </div>
    <script>
        window.addEventListener("load",function(){
            var test_case = document.querySelector("#id_test_case").value;
            var group = document.querySelector("#id_group").value;
            var doc_export = document.querySelector("#doc_export");
            if(test_case != "" && test_case != undefined  && group != "" && group != undefined) {
                var href = doc_export.getAttribute("href") + "?group=" + group + "&test_case=" + test_case;
                doc_export.setAttribute("href", href)
            }else{
                doc_export.style.display = 'none';
            }
        },false);

    </script>
{% endblock %}
