{% extends 'base.html' %}
{% load i18n %}

{% block head %}
    {% include "autocomplete_light/static.html" %}
{% endblock %}

{% block main %}
    <style>
        .correct {
            background: green;
            color: white;
        }
    </style>
    <div class="box-body">

        <table class="table table-bordered" >
            {% for questions in standard %}
                {% for k, v in questions.items %}
                    <tr><td>{{ forloop.parentloop.counter }}</td><th>{{ k |safe }}</th></tr>
                    {% for answer in v %}
                        <tr><td></td><td>{{ answer |safe }}</td></tr>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </table>
        <table class="table table-bordered" >
            {% for questions in fitness %}
                {% for k, v in questions.items %}
                    <tr><td>{{ forloop.parentloop.counter }}</td><th>{{ k |safe }}</th><td></td></tr>
                        {% for q in v %}
                            <tr>
                                <th>{{ forloop.counter }}</th>
                                {% for a in q %}
                                    <td>{{ a |safe}}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                {% endfor %}
            {% endfor %}
        </table>
    </div>

    <script>
        var table = document.getElementsByTagName("table");
        var tr = table[1].getElementsByTagName("tr");
        for(i in tr){
            tr[i].onclick = function(){
                var cssClass = "check-selected-question-and-answers";
                var cleanClass = document.getElementsByClassName(cssClass);

                if(cleanClass[0] != undefined){
                    cleanClass[0].setAttribute("class","");
                    cleanClass[0].setAttribute("class","");
                }


                this.getElementsByTagName("td")[0].setAttribute("class",cssClass);
                var questionPos = this.getElementsByTagName("th")[0].innerHTML;
                var answerPos = this.getElementsByTagName("span")[0].innerHTML;
                var pos = answerPos-questionPos;
                var currentPos = parseInt(this.getAttribute("data-pos"));
                if(pos > 0){
                    currentPos = currentPos + Math.abs(pos);
                }else{
                    currentPos = currentPos - Math.abs(pos);
                }

                tr[currentPos].getElementsByTagName("td")[1].setAttribute("class",cssClass);

            }
            tr[i].setAttribute("data-pos",i);
        }
    </script>
    <style>
    .check-selected-question-and-answers{
        background: #F0AD4E;
        color: #ffffff;
    }
    </style>
{% endblock %}
