{% extends 'base.html' %}
{% load i18n %}

{% block head %}
    {% include "autocomplete_light/static.html" %}
{% endblock %}

{% block main %}
    <div class="box-header">
    	<h3>{% trans 'Tests' %}</h3>
    	{% if show_filters %}
        <form method="post">
        {% csrf_token %}
            {{ form }}
        <input class='btn btn-primary' type="submit" value="{% trans 'Search' %}">
        </form>
        {% endif %}
    </div>

    <div class="box-body">
    	
    	<div class="pagination" style='width:100%; margin:auto;'>
		    <span class="step-links">
		        {% if data.has_previous %}
		            <a class='btn btn-primary' href="?page={{ data.previous_page_number }}">{% trans 'previous' %}</a>
		        {% endif %}
		
		        <span class="current">
		            {% trans 'Page' %} {{ data.number }} {% trans 'of' %} {{ data.paginator.num_pages }}.
		        </span>
		
		        {% if data.has_next %}
		            <a class='btn btn-primary' href="?page={{ data.next_page_number }}">{% trans 'next' %}</a>
		        {% endif %}
		    </span>
		</div>

        <table class="table">
            {% for d in data %}
                <tr>
					{% if request.user.is_superuser %}
                        <td><a href="{% url 'download_test' test_id=d.group_subject.test_case.pk %}">
                            {% trans 'Download' %}</a></td>
                    {% endif %}
                    <td><a href="{% url 'show_test' test_id=d.group_subject.test_case.pk %}">
                        {% trans 'Show' %}</a></td>
                    <td><a href="{% url 'append_standard_test' test_case=d.group_subject.test_case.pk %}">
                        {% trans 'Add standard test' %}</a></td>
                    <td><a href="{% url 'append_fitness_test' test_case=d.group_subject.test_case.pk %}">
                        {% trans 'Add fitness test' %}</a></td>
                    <td>{{ d.group_subject.test_case.code }}</td>
                    <td>{{ d.subject }}</td>
                    <td>{{ d.learning_group}}</td>
                    <td>{{ d.teacher }}</td>
                    <td>{{ d.group_subject.test_case.question_set.count }}</td>
                    {% if perms.learning_process %}
                       <td><a href="{% url 'delete_test' test_id=d.group_subject.test_case.pk %}">
                           {% trans 'Delete' %}</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
