{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
    {% include "autocomplete_light/static.html" %}
{% endblock %}

{% block main %}
    <div class="box-body">
        <div class="box-header">
            <table class="table table-bordered">
                <tr>
                    <td>{% trans 'Subject' %}</td>
                    <td>{{ test_case.subject }} </td>
                </tr>
                <tr>
                    <td>{% trans 'Teacher' %}</td>
                    <td>{{ test_case.teacher }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Code' %}</td>
                    <td>{{ test_case.code }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Standard question count' %}</td>
                    <td>{{ standard.count }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Fitness question count' %}</td>
                    <td>{{ fitness.count }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Access status' %}</td>
                {% if standard.count >= 150 and fitness.count >= 50 %}
                    <td class="correct">{% trans 'Access granted' %}</td>
                {% else %}
                    <td class="error">{% trans 'Access denied' %}</td>
                {% endif %}  
                </tr>                
            </table>
        </div>
		<div class='text-center'><h2>{% trans 'Standard questions' %}</h2></div>
        <table class="table">
            {% for question in standard %}
            	<tr>
                    <td class="question" colspan=3>
					    {{ forloop.counter }}. {% trans 'Question' %}:
                        {% if "|||" in question.question %}
                            <img src="/media/{{ question.question|slice:"3:" }}">
                        {% else %}
                            {{ question.question|safe }}
                        {% endif %}
                    </td>

					<td class="question"><a href="{% url 'edit_standard_test' question=question.pk %}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                    </td>
				</tr>
	        	<tr>
				{% for answer in question.answeroption_set.all %}
					{% if answer.is_correct %}
						<td class="correct-answer">
					{% else %}
						<td>
					{% endif %}

                    {% if "|||" in answer.answer_option %}
                        <img src="/media/{{ answer.answer_option|slice:"3:" }}">
                    {% else %}
                         {{ answer.answer_option|safe }}
                    {% endif %}
                </td>
				{% endfor %}
	            </tr>
            {% endfor %}
        </table>
		<div class='text-center'><h2>{% trans 'Fitness questions' %}</h2></div>        
        <table class="table">
            {% for question in fitness %}
            	<tr>
                    <td class="question" colspan=3>
                    	{{ forloop.counter }}. {% trans 'Question' %}:
                        {% if "|||" in question.question %}
                            <img src="/media/{{ question.question|slice:"3:" }}">
                        {% else %}
                            {{ question.question|safe }}
                        {% endif %}
                    </td>
					<td class="question"><a href="{% url 'edit_fitness_test' question=question.pk %}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                    </td>
				</tr>
	
				{% for answer in question.fitnessquestion_set.all %}					
	        		<tr>
                        {% if "|||" in answer.sub_question %}
                            <td colspan="2">
                                <img src="/media/{{ answer.sub_question|slice:"3:" }}">
                            </td>
                        {% else %}
                            <td colspan=2>
                                {{ answer.sub_question |safe }}
                            </td>
                        {% endif %}

                        {% if "|||" in answer.answer %}
                            <td colspan="2">
                                <img src="/media/{{ answer.answer|slice:"3:" }}"></td>
                        {% else %}
                            <td colspan=2>
                                {{ answer.answer |safe }}
                            </td>
                        {% endif %}
		            </tr>
				{% endfor %}
            {% endfor %}
        </table>
    </div>
{% endblock %}
