{% extends 'base.html' %}

{% load i18n %}

{% block head %}
    {% include "autocomplete_light/static.html" %}
{% endblock %}

{% block main %}
    <form method="post" enctype="multipart/form-data">
    <table class='table table-bordered'>
    {% csrf_token %}
        {{ form }}
    <tr>
    	<td>
    	</td>
    	<td>
    		<input class='btn btn-primary' type="submit" value="{% trans 'Save'%}">
    	</td>
    </tr>
    
    </table>
    </form>
{% endblock %}