<!DOCTYPE html>
{% load i18n %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <style>
        html, body, .container-table {
            height: 100%;
        }

        .container-table {
            display: table;
        }

        .vertical-center-row {
            display: table-cell;
            vertical-align: middle;
        }

        .show-test{
            position:fixed;
            bottom: 10px;
            right:10px;
        }

    </style>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class='container container-table'>
    <div class="row vertical-center-row">
        <div class="col-md-12">
            <div id="logo">
                <img src="sas"/>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <input class="form-control" placeholder="{% trans 'User name' %}" type="input" name="username"
                               id="username"/>
                    </div>
                    <div class="col-md-4"></div>

                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <input class="form-control" placeholder="{% trans 'Password' %}" type="password"
                               name="password"/>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>

                    <div class="col-md-4">
                        <input class="form-control btn btn-primary" type="submit" value="Login">
                    </div>

                    <div class="col-md-4">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="show-test">
    <a href="{% url 'show_unauthorized_tests' %}" class="btn btn-danger">{% trans 'Show tests' %}</a>
</div>
</body>