{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Address list'%}
{% endblock %}

{% block head %}
    {% include 'include_files/dataTables.html' %}
{% endblock %}

{% block main %}
    <div class="box-header">
      <h3 class="box-title">{% trans 'Address list'%}</h3>
    </div>
     <div class="box-footer">
        <a class="btn btn-primary glyphicon glyphicon-plus-sign" href="{%  url 'address_add' %} "> {% trans 'New' %}</a>
    </div>
    <div class="box-body">
        <table id="table" class = "table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>№</th>
                    <th>{% trans 'Address' %}</th>
                    <th>{% trans 'City' %}</th>
                    <th>{% trans 'State' %}</th>
                    <th>{% trans 'Edit' %}</th>
                    <th>{% trans 'Show' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for address in addresses%}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ address.address }}</td>
                        <td>{{ address.city}}</td>
                        <td>{{ address.state }}</td>
                        <td><a class = 'btn btn-default glyphicon glyphicon-edit' href="{%  url 'address_edit' address.id %}"> {% trans 'Edit' %}</a> </td>
                        <td><a class="btn  btn-default glyphicon glyphicon-eye-open" href="{%  url 'address_show' address.id %}">{% trans  'Show' %}</a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}