{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Staff List' %}
{% endblock %}

{% block head %}
    {% include 'include_files/dataTables.html' %}
{% endblock %}

{% block main %}
    <div class="box-header">
      <h3 class="box-title">{% trans 'Add staff' %}</h3>
    </div>
    <div class="box box-footer">
        <a class="btn btn-primary glyphicon glyphicon-plus-sign" href="{%  url 'staff_add' %} "> {% trans 'New' %}</a>
    </div>
    <div class="box-body">
        <h1>{% trans 'Staff list' %}</h1>
        <table id = 'table' class = " table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>№</th>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Full name' %}</th>
                    <th>{% trans 'Region' %}</th>
                    <th>{% trans 'Region' %}</th>
                </tr>
            </thead>
            <tbody>
              {% for staff in staffs %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ staff }}</td>
                    <td>{{ staff.status }}</td>
                    <td><a class = 'btn btn-default glyphicon glyphicon-edit' href="{%  url 'country_edit' staff.id %}"> {% trans 'Edit' %}</a> </td>
                    <td><a class="btn  btn-default glyphicon glyphicon glyphicon-eye-open" href="{%  url 'country_show' staff.id %}">{% trans  'Show' %}</a> </td>
                </tr>
              {% endfor %}
            </tbody>
            </tbody>
        </table>
    </div>
{% endblock %}

