{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Groups' %}
{% endblock %}

{% block main %}

    <div class="box-header">
      <h3 class="box-title">{% trans 'Groups'%}</h3>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-primary" href="{% url 'subject_add' %}">{% trans 'Add' %}</a>
        </div>
    </div>
    <table class="table-responsive table table-bordered">
        <tr>
            <th>{% trans 'Code' %}</th>
            <th>{% trans 'Name' %}</th>
        </tr>

    {% for subject in subjects %}
        <tr>
            <td>{{ subject.code }}</td>
            <td>{{ subject.name }}</td>
        </tr>
    {% endfor %}
    </table>
    </div>
{% endblock %}