{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Truants' %}
{% endblock %}

{% block main %}

    <div class="box-header">
      <h3 class="box-title">{% trans 'Truants'%}</h3>
    </div>
    <div class="container">
    <table class="table-responsive table table-bordered">
        <tr>
            <th></th>
            <th>{% trans 'Full name' %}</th>
            <th>{% trans 'Learning group' %}</th>
            <th>{% trans 'Total absents' %}</th>
        </tr>

    {% for truant in truants %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ truant.student.get_full_name }}</td>
            <td>{{ truant.student.learning_group }}</td>
            <td>{{ truant.total_absents }}</td>
        </tr>
    {% endfor %}
    </table>
    </div>
{% endblock %}
