.error {
    background:red;
    color: green;
}
.small-input {
    width: 50px;
}
.correct {
	background:green;
	color:white;
}

.question {
    background: #ffe5b0;
}

.correct-answer {
    background: #cfd1ca;
}

.errorlist {
    color: red;
}
