{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block head %}
    {% include "autocomplete_light/static.html" %}
{% endblock %}
{% block main %}
    <div class="box-header">
        <h3 class="box-title">{% trans 'Pass marks to journal' %}</h3>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="box-body">
            <div id='container' class='col-lg-12'></div>
        </div>
        <div class="box box-footer">
            <input type="submit" class='btn btn-success btn-block btn-flat' value="{% trans 'Add' %}"/>
        </div>
    </form>
    <script>
        var getXmlHttp = function () {
            var xmlhttp;
            if (window.XMLHttpRequest) {
                // code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp = new XMLHttpRequest();
            } else {
                // code for IE6, IE5
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            return xmlhttp;
        }

        function creatingLoading() {
            var loading = document.createElement("div");
            loading.id = "loadingGif";
            loading.style.background = "src(static/img/process.gif) red";
            loading.style.width = "500%";
            loading.style.height = "500%";
            loading.style.marginTop = "-100%";
            loading.style.zIndex = "99999999999";
            loading.style.position = "absolute";
            document.querySelector("body").appendChild(loading);
        }

        var request = function (url, callback) {
            var req = getXmlHttp();
            req.onreadystatechange = function () {
                if (req.readyState == 4) {
                    if (req.status == 200) {
                        if (typeof(callback) === "function" && callback != undefined) {
                            callback(req.responseText);
                        } else {
                            return req.responseText;
                        }
                    }

                }
            }
            req.open('GET', url, true);
            req.send(null);
        }

        function createTableHeader(weeksCount, table) {
            var trWeek = document.createElement("tr");
            var trMark = document.createElement("tr");

            var thFullName = document.createElement("th");
            var empty = document.createElement("th");
            thFullName.innerHTML = "{% trans 'Full name' %}";

            trWeek.appendChild(thFullName);
            trMark.appendChild(empty);
            table.appendChild(trWeek);
            table.appendChild(trMark);

            for (var i = 0; i < weeksCount; i++) {

                var thWeek = document.createElement("th");
                var thMark = document.createElement("th");

                var thDoNotEnter = document.createElement("th");

                thWeek.setAttribute("colspan", "2");
                thWeek.innerHTML = "{% trans 'Week' %} " + (i + 1);

                thMark.innerHTML = "{% trans 'M' %} ";
                thDoNotEnter.innerHTML = "{% trans 'NC' %} ";

                trWeek.appendChild(thWeek);

                trMark.appendChild(thMark);
                trMark.appendChild(thDoNotEnter);

                table.appendChild(trWeek);
                table.appendChild(trMark);

            }
        }


        var markPassObject = new passMarkAndDoNotEnter();
        window.addEventListener("load", function (e) {
            var url = "{% url 'generate' mark_book_id=mark_book.pk %}";
            request(url, function (req) {
                var data = JSON.parse(req);
                var container = document.getElementById("container");
                var table = document.createElement("table");
                table.className = "table table-bordered";
                table.id = "tableForPassingMarks";

                var weekCount = data.data.weekCount;
                createTableHeader(weekCount, table)

                var students = data.data.students;
                for (var j in students) {
                    var tr = document.createElement("tr");
                    var flag = true;
                    for (var i = 0; i < weekCount; i++) {

                        var tdMark = document.createElement("td");
                        var tdDoNotEnter = document.createElement("td");
                        if (flag) {
                            var tdFullName = document.createElement("td");
                            tdFullName.innerHTML = students[j].full_name;
                            tr.appendChild(tdFullName);
                            flag = false;
                        }

                        var input = markPassObject.generateInputs(students[j], i, data.data.activeWeek);
                        var input1 = markPassObject.generateInputs(students[j], i, data.data.activeWeek, true);

                        tdMark.appendChild(input);
                        tdDoNotEnter.appendChild(input1);

                        tr.appendChild(tdDoNotEnter);
                        tr.appendChild(tdMark);
                    }
                    table.appendChild(tr);
                }
                container.appendChild(table)
            });
        }, false);


        document.body.addEventListener("click", function (e) {
            if (e.target.tagName == "DIV" && e.target.className == "markDropDownOption") {
                markPassObject.input.value = e.target.innerHTML;
                markPassObject.fadeOut();
            } else if (e.target.tagName === "INPUT" && e.target.type === "text" && e.target.className == "doNotVisit_input") {
                markPassObject.input = e.target;
                markPassObject.generateDropDown();
            } else {
                markPassObject.remove();
            }
        }, false);

        document.body.addEventListener('keyup', function (e) {
            if (e.target.tagName === "INPUT" && e.target.type === "text" && e.target.className == "doNotVisit_input") {
                markPassObject.input = e.target;
                markPassObject.generateDropDown();
                var val = e.target.value;
                if (val > 9 || val < 0) {
                    e.target.value = "";
                }
            }
            if (e.target.tagName === "INPUT" && e.target.type === "text" && e.target.className == "mark_input") {
                markPassObject.input = e.target;
                markPassObject.filterFloat();
            }
        }, false);

        function passMarkAndDoNotEnter() {
            this.input = {};
            this.generateInputs = function (student, iterator, active_column, markOrDoNotEnter) {
                var input = document.createElement("input");

                var mark = {};
                var prefix = "";

                if (markOrDoNotEnter !== undefined) {
                    mark = student.marks["w_" + (iterator + 1)];
                    prefix = "mark_";
                } else {
                    mark = student.doNotEnter["w_" + (iterator + 1)];
                    prefix = "doNotVisit_";
                }
                input.name = prefix + student.id + "_" + iterator;
                input.className = prefix + "input";

                input.type = 'text';


                if (iterator !== active_column - 1)
                    input.disabled = 'disabled';

                if (mark !== undefined) {
                    input.value = mark;
                    input.disabled = 'disabled';
                }
                return input;
            }

            /*
             method generateDropDown
             * */
            this.generateDropDown = function () {
                var options = [0, 1, 2, 3, 4, 5, 6, 7];
{#                var divWidth = options.length#}
                var pos = getPosition(this.input);
                var div = document.getElementById("markOptions");
                if (div == undefined) {
                    div = document.createElement("div");
                    div.id = "markOptions";
                    div.style.position = "absolute";
                    div.style.zIndex = "10000";
                    div.style.margin = "0";
                }

                div.style.top = (pos.y + 25) + "px";
                div.style.left = (pos.x - 80) + "px";
                div.innerHTML = "";
                for (var option in options) {
                    var item = document.createElement("div");
                    item.className = "markDropDownOption";
                    item.innerHTML = options[option];
                    div.appendChild(item);
                }
                document.body.appendChild(div);
            } // generateDropDown method

            /*
             method fadeOut
             * */
            this.fadeOut = function () {
                setTimeout(function () {
                    var el = document.getElementById("markOptions");
                    el.parentNode.removeChild(el);
                }, 100);
            }// end of fadeOut

            this.remove = function () {
                var el = document.getElementById("markOptions");
                el.parentNode.removeChild(el);
            }

            this.filterFloat = function () {
                var inputValue = this.input.value.replace(",", ".");
                var length = inputValue.length;
                var newValue = "";

                for (var i = 0; i < length; i++) {
                    var charCode = inputValue.charCodeAt(i);
                    if (charCode >= 46 && charCode <= 57) {
                        newValue += inputValue.charAt(i);
                    }
                }
                if (+newValue >= 0 && +newValue <= 7)
                    this.input.value = newValue;
                else
                    this.input.value = ""
            }
        } // end of passMarkAndDoNotEnter class


        function getPosition(element) {
            var xPosition = 0;
            var yPosition = 0;

            while (element) {
                xPosition += (element.offsetLeft - element.scrollLeft + element.clientLeft);
                yPosition += (element.offsetTop - element.scrollTop + element.clientTop);
                element = element.offsetParent;
            }

            return {x: xPosition, y: yPosition};
        }

    </script>

    <style>
        input {
            text-align: center;
        }

        input:focus {
            border: green 1px solid;
            border-radius: 3px;
        }

        #markOptions {
            text-align: center;
{#            max-width: 147px;#}
            background: white;
            border: 1px solid green;
        }

        #markOptions div {
            float: left;
            border-left: 1px solid lightgrey;
            border-bottom: 1px solid lightgrey;
            padding: 10px;
        }

        #markOptions div:hover {
            cursor: pointer;
            background: green;
            color: #fff;
        }

        .table th {
            text-align: center;
            border: 1px solid lightgrey;
        }

        .table td {
            padding: 7px;
            border: 1px solid lightgrey;
        }

        .doNotVisit_input {
            width: 25px;
        }

        .mark_input {
            width: 25px;
        }

        #loadingGif {
            position: absolute;
            z-index: 9999999;
            width: 100%;
            height: 100%;
            background: red;
        }

    </style>

{% endblock %}
