{% extends 'base.html' %}
{% load i18n %}

{% block title %}
	{% trans 'Set marks' %}
{% endblock %}

{% block head %}
	<style>
		th {
			text-align: center;
			font-weight: bold;
		}
		td {
			text-align: center;
		}
	</style>
{% endblock %}

{% block main %}

<div class="box-header">
    <h3 class="box-title">{% trans 'Progress'%}</h3>
</div>
<table class='table table-bordered table-responsive table-striped'>
	<tr>
		<th colspan=2>{% trans 'Subject' %}</th>
		<th colspan=2>1</th>
		<th colspan=2>2</th>
		<th colspan=2>3</th>
		<th colspan=2>4</th>
		<th colspan=2>5</th>
		<th colspan=2>6</th>
        <th colspan=2>{% trans 'CP 1' %}</th>
        <th colspan=2>{% trans 'UW 1' %}</th>
        <th colspan=2>{% trans 'R 1' %}</th>
		<th colspan=2>7</th>
		<th colspan=2>8</th>
		<th colspan=2>9</th>
		<th colspan=2>10</th>
		<th colspan=2>11</th>
		<th colspan=2>12</th>
        <th colspan=2>{% trans 'CP 2' %}</th>
        <th colspan=2>{% trans 'UW 2' %}</th>
        <th colspan=2>{% trans 'R 2' %}</th>
		<th colspan=2>13</th>
		<th colspan=2>14</th>
		<th colspan=2>15</th>
		<th colspan=2>16</th>
        <th> {% trans "Penalty" %}</th>
        <th> {% trans "Stimulate" %}</th>
		<th colspan=2>{% trans 'Exam' %}</th>
        <th colspan=2>{% trans 'R 3' %}</th>
        <th colspan=2>{% trans 'GPA' %}</th>

	</tr>
	<tr>
		<td colspan=2></td>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
        <td colspan=2></td>
        <td colspan=2></td>
        <td colspan=2></td>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
        <td colspan=2></td>
        <td colspan=2></td>
        <td colspan=2></td>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
        <td></td>
        <td></td>
        <td colspan=2></td>
        <td colspan=2></td>
        <td colspan=2></td>
	</tr>

	{% for k, v in marks.items %}
	<tr>
		<td colspan=2><b>{{ k }}</b></td>
		<td>{{ v.w1.absent }}</td>
		<td>{{ v.w1.mark }}</td>
		<td>{{ v.w2.absent }}</td>
		<td>{{ v.w2.mark }}</td>
		<td>{{ v.w3.absent }}</td>
		<td>{{ v.w3.mark }}</td>
		<td>{{ v.w4.absent }}</td>
		<td>{{ v.w4.mark }}</td>
		<td>{{ v.w5.absent }}</td>
		<td>{{ v.w5.mark }}</td>
		<td>{{ v.w6.absent }}</td>
		<td>{{ v.w6.mark }}</td>
        <td colspan=2> {{ v.CP1 }}</td>
        <td colspan=2> {{ v.UW1 }}</td>
        <td colspan=2> {{ v.R1|floatformat:2 }}</td>
		<td>{{ v.w7.absent }}</td>
		<td>{{ v.w7.mark }}</td>
		<td>{{ v.w8.absent }}</td>
		<td>{{ v.w8.mark }}</td>
		<td>{{ v.w9.absent }}</td>
		<td>{{ v.w9.mark }}</td>
		<td>{{ v.w10.absent }}</td>
		<td>{{ v.w10.mark }}</td>
		<td>{{ v.w11.absent }}</td>
		<td>{{ v.w11.mark }}</td>
		<td>{{ v.w12.absent }}</td>
		<td>{{ v.w12.mark }}</td>
        <td colspan=2> {{ v.CP2 }}</td>
        <td colspan=2> {{ v.UW2 }}</td>
        <td colspan=2> {{ v.R2|floatformat:2 }}</td>
		<td>{{ v.w13.absent }}</td>
		<td>{{ v.w13.mark }}</td>
		<td>{{ v.w14.absent }}</td>
		<td>{{ v.w14.mark }}</td>
		<td>{{ v.w15.absent }}</td>
		<td>{{ v.w15.mark }}</td>
		<td>{{ v.w16.absent }}</td>
		<td>{{ v.w16.mark }}</td>
		<td> {{ v.PENALTY }}</td>
		<td> {{ v.STIMULATE }}</td>
		<td colspan=2> {{ v.FE }}</td>
        <td colspan=2> {{ v.R3|floatformat:2 }}</td>
        <td colspan=2> {{ v.gpa|floatformat:2 }}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
