{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% trans 'Set marks' %}
{% endblock %}

{% block main %}

<div class="box-header">
    <h3 class="box-title">{% trans 'Set marks'%}</h3>
</div>
<div class="row">
</div>
<form method="post">
    {% csrf_token %}

    <table class="table table-hover table-condensed table-striped">
        <tr>
            <td>{{mb.subject}}</td>
            <td>{{mb.learning_group}}</td>
            <td></td>
            <td>{{mb.semester_year}}</td>
            <td>{% trans week.name %}</td>
            <td></td>
        </tr>
        <tr>
            <th>{% trans 'Number' %}</th>
            <th>{% trans 'Full name' %}</th>
            <th>{% trans 'Mark' %}</th>
            <th>{% trans 'Absent' %}</th>
            <th>{% trans 'Penalty' %}</th>
            <th>{% trans 'Stimulate' %}</th>
        </tr>
        {{ formset.management_form }}
        {% for form in formset %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{  form.instance.get_full_name  }}</td>

            {% for field in form.visible_fields %}
				<td>{{field.errors}}{{ field }}</td>
            {% endfor %}

            {% for hidden in form.hidden_fields %}
				{{ hidden }}    
            {% endfor %}
        </tr>
        {% endfor %}
        <tr>
            <td colspan="5"><input type=submit class="btn btn-primary" value="{% trans "Save" %}"></td>
        </tr>
    </table>
</form>
{% endblock %}
