{% extends 'base.html' %}
{% load i18n %}

{% block title %}
	{% trans 'Set marks' %}
{% endblock %}

{% block head %}
	<style>
		th {
			text-align: center;
			font-weight: bold;
		}
		td {
			text-align: center;
		}
	</style>
{% endblock %}

{% block main %}

<div class="box-header">
    <h3 class="box-title">{% trans 'Progress'%}</h3>
</div>
<table class='table table-bordered table-responsive'>

	<tr>
		<th colspan=22>{% trans 'Subject' %}: {{ subject }}</th>
		<th colspan=22>{% trans 'Teacher' %}: {{ teacher }}</th>
	</tr>
	<tr>
		<th colspan=32>{% trans 'Weeks' %}</th>
		<th colspan=12>{% trans 'Totals' %}</th>
	</tr>
	<tr>
		<th colspan=2>1</th>
		<th colspan=2>2</th>
		<th colspan=2>3</th>
		<th colspan=2>4</th>
		<th colspan=2>5</th>
		<th colspan=2>6</th>
		<th colspan=2>7</th>
		<th colspan=2>8</th>
		<th colspan=2>9</th>
		<th colspan=2>10</th>
		<th colspan=2>11</th>
		<th colspan=2>12</th>
		<th colspan=2>13</th>
		<th colspan=2>14</th>
		<th colspan=2>15</th>
		<th colspan=2>16</th>

        <th>{% trans 'Penalty' %}</th>
        <th>{% trans 'Stimulate' %}</th>
		<th colspan=2>{% trans 'CP 1' %}</th>
		<th colspan=2>{% trans 'CP 2' %}</th>
		<th colspan=2>{% trans 'Exam' %}</th>
		<th colspan=2>{% trans 'Total' %}</th>
		<th colspan=2>{% trans 'Avg' %}</th>
	</tr>
	<tr>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
		<td colspan=2></td>
		<td colspan=2></td>
		<td colspan=2></td>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
		<td>{% trans 'A' %}</td>
		<td>{% trans 'M' %}</td>
	</tr>
	<tr>
		<td>{{ marks.w1.absent }}</td>
		<td>{{ marks.w1.mark }}</td>
		<td>{{ marks.w2.absent }}</td>
		<td>{{ marks.w2.mark }}</td>
		<td>{{ marks.w3.absent }}</td>
		<td>{{ marks.w3.mark }}</td>
		<td>{{ marks.w4.absent }}</td>
		<td>{{ marks.w4.mark }}</td>
		<td>{{ marks.w5.absent }}</td>
		<td>{{ marks.w5.mark }}</td>
		<td>{{ marks.w6.absent }}</td>
		<td>{{ marks.w6.mark }}</td>
		<td>{{ marks.w7.absent }}</td>
		<td>{{ marks.w7.mark }}</td>
		<td>{{ marks.w8.absent }}</td>
		<td>{{ marks.w8.mark }}</td>
		<td>{{ marks.w9.absent }}</td>
		<td>{{ marks.w9.mark }}</td>
		<td>{{ marks.w10.absent }}</td>
		<td>{{ marks.w10.mark }}</td>
		<td>{{ marks.w11.absent }}</td>
		<td>{{ marks.w11.mark }}</td>
		<td>{{ marks.w12.absent }}</td>
		<td>{{ marks.w12.mark }}</td>
		<td>{{ marks.w13.absent }}</td>
		<td>{{ marks.w13.mark }}</td>
		<td>{{ marks.w14.absent }}</td>
		<td>{{ marks.w14.mark }}</td>
		<td>{{ marks.w15.absent }}</td>
		<td>{{ marks.w15.mark }}</td>
		<td>{{ marks.w16.absent }}</td>
		<td>{{ marks.w16.mark }}</td>
        <td>{{ marks.PENALTY }}</td>
        <td>{{ marks.STIMULATE }}</td>
		<td colspan=2> {{ marks.CP1 }}</td>
		<td colspan=2> {{ marks.CP2 }}</td>
		<td colspan=2> {{ marks.exam }}</td>
		<td>{{ marks.total.absent }}</td>
		<td>{{ marks.total.mark }}</td>
		<td>{{ marks.avg.absent }}</td>
		<td>{{ marks.avg.mark }}</td>
	</tr>
</table>
{% endblock %}
