{% extends 'base.html' %}
{% load i18n %}
{% block head %}
    {% include "autocomplete_light/static.html" %}
{% endblock %}
{% block main %}
  <h2>{{student}}</h2>
  <h2>{{form.last_name}}</h2>
    <div class="container">
    <form method="post">
        <div class="box-header">
            <h3 class="box-title">{% trans 'Add androlle' %} {% trans title %}</h3>
            <table id = 'table' class = " table table-striped table-hover table-bordered">
                    
            
                        
                           <p>{% trans 'Orders'%}{{form}}
                      <p><input class="btn btn-primary" type="submit" value="{% trans 'Save' %}"/>
              

           </table>
        </div>

        
            {% csrf_token %}
           
            
        </form>
    </div>
{% endblock %}
