{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Change password' %}
{% endblock %}

{% block main %}
    <div class="box-header">
      <h3 class="box-title">{% trans 'Change password' %}</h3>
    </div>
    <div class="box-body">
        <h1>{% trans 'Change password' %}</h1>
        <form method='post'>
            {% csrf_token %}
            <table class='table table-bordered'>
            {{ form }}


        </table>
        </form>
        {{ succes }}
    </div>
{% endblock %}
