{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Student List' %}
{% endblock %}

{% block head %}
    {% include 'include_files/dataTables.html' %}
{% endblock %}

{% block main %}
    <div class="box-header">
      <h3 class="box-title">{% trans 'Добавит абитуриентов' %}</h3>
    </div>
    <div class="box box-footer">
        <a class="btn btn-primary glyphicon glyphicon-plus-sign" href="{%  url 'welcome_student' %} "> {% trans 'New' %}</a>

    </div>
    <div class="box-body">
        <h1>{% trans 'Список студентов' %}</h1><h5>Печать</h5>
           <p><a href="/androlle/agreement/file2/get/{{l}}">забонхат    </a><a href="/androlle/agreement/file/get/{{l}}">шартнома</a></p>
        <table id = 'table' class = " table table-striped table-hover table-bordered">

            
            <thead>
                <tr>
                    <th>{% trans 'Номер' %}</th>
                    <th>{% trans 'Фамилия' %}</th>
                    <th>{% trans 'Имя' %}</th>
                    <th>{% trans 'Отчество' %}</th>
                    <th>{% trans 'Дата поступления' %}</th>
                    <th>{% trans 'Факультет' %}</th>
                   
                 
                    <th>{% trans 'Отчет о договоре' %}</th>

                </tr>
            </thead>
            <tbody>
              {% for student in students %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="/androlle/general/information/get/{{student.id}}">{{ student.first_name }}</a></td>
                    <td>{{ student.middle_name }}</td>
                    <td>{{ student.last_name }}</td>
                    <th>{{ student.entrance_date }}</th>
                    <th>{{ student.speciality.faculty }}</th>
               
                    

                
                    <th><a href="/androlle/agreement/file/get/{{student.id}}">шартнома</a> , <a href="/androlle/agreement/file2/get/{{student.id}}">забонхат</a></th>
                </tr>

              {% endfor %}     
            </tbody>
        </table>
            
        
    </div>
{% endblock %}

