{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Student List' %}
{% endblock %}

{% block head %}
    {% include 'include_files/dataTables.html' %}
{% endblock %}

{% block main %}
    <div class="box-header">
      <h3 class="box-title">{% trans 'Add student' %}</h3>
    </div>
    <div class="box box-footer">
        <a class="btn btn-primary glyphicon glyphicon-plus-sign" href="{%  url 'student_add' %} "> {% trans 'New' %}</a>
    </div>
    <div class="box-body">
        <h1>{% trans 'Student list' %}</h1>
        <table id = 'table' class = " table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>{% trans 'Number' %}</th>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Learning group' %}</th>
                    <th>{% trans 'First name' %}</th>
                    <th>{% trans 'Last name' %}</th>
                    <th>{% trans 'Middle name' %}</th>
                    <th>{% trans 'Course' %}</th>
                </tr>
            </thead>
            <tbody>
              {% for student in students %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ student.username }}</td>
                    <td>{{ student.learning_group }}</td>
                    <td>{{ student.first_name }}</td>
                    <td>{{ student.last_name }}</td>
                    <td>{{ student.middle_name }}</td>
                    <td>{{ student.learning_group.course }}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

