{% extends 'base.html' %}

{% load i18n %}

{% block head %}
{% include "autocomplete_light/static.html" %}
{% endblock %}


{% block main %}


<form method="POST">
{% csrf_token %}
 <div class="box box-footer">
      <h3 class="box-title">{% trans 'Отчеты' %}</h3>
      <div class="coll-ms-12">
		<div id="table_length" class="dataTables_length">
			
			{{form}}
			<input class='btn btn-primary' type='Submit' value='Rezult'/> 
<!-------------------------------------------------------->
						<div class="btn-group">
 						 <div class="btn-group">
   						 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
       						{% trans 'Choose' %}
						       <span class="caret"></span>
						      </button>
						    <ul class="dropdown-menu">
						      <li><a href="/androlle/report/list">Общий список</a></li>
						      <li><a href="/androlle/time/report">По дату</a></li>
						      <li><a href="/androlle/report/gen/reg">Пол и регион</a></li>
						      <li><a href="/androlle/region/report">Регион</a></li>
						     

							    </ul>
							  </div>
							</div>




  
<!-------------------------------------------------------->
		</div>
	</div>
</div>
</form>
 <div class="box-body">
        
        <table id = 'table' class = " table table-striped table-hover table-bordered">
			           	<thead>
			           		
				           	<th>{% trans 'Number' %}</th>
				           	<th>{% trans 'First_name' %}</th>
	                    	<th>{% trans 'Position' %}</th>
	                    	<th>{% trans 'Faculty' %}</th>
	                    	<th>{% trans 'Region' %}</th>
	                    	<th>{% trans 'Nationality' %}</th>
	                    	
                    	</thead>
                    	<tbody>
			            {% for student in students %}
			        		<tr>
			        			
			        			<th>{{forloop.counter}}</th>
			        			<th>{{student.first_name}}</th>
			        			<th>{{student.position}}</th>
			        			<th>{{student.faculty}}</th>
			        			<th>{{student.region}}</th>
			        			<th>{{student.nationality}}</th>
			        		</tr>
			        	{% endfor %}
			        	








			        	</tbody>
			        </table>	
				</div>
</div>
{% endblock %}