{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Position list' %}
{% endblock %}

{% block head %}
    {% include 'include_files/dataTables.html' %}
{% endblock %}

{% block main %}
    <div class="box-header">
      <h3 class="box-title">{% trans 'Add position' %}</h3>
    </div>
    <div class="box box-footer">
        <a class="btn btn-primary glyphicon glyphicon-plus-sign" href="{%  url 'position_add' %} "> {% trans 'New' %}</a>
    </div>
    <div class="box-body">
        <h1>{% trans 'Staff list' %}</h1>
        <table id = 'table' class = " table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>№</th>
                    <th>{% trans 'Code' %}</th>
                    <th>{% trans 'Name' %}</th>
                </tr>
            </thead>
            <tbody>
              {% for position in positions %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ position.code }}</td>
                    <td>{{ position.name }}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

