{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans 'Edit' %} {% trans 'Document' %}
{% endblock %}

{% block head %}
    {% include 'include_files/datePicker.html' %}
{% endblock %}

{% block main %}
    <form method="post">
        <table>
            {% csrf_token %}
            {{ form.as_table }}
            <tr>
                <td>
                    <input type="submit" value="{% trans 'Edit' %}" />
                </td>
            </tr>

        </table>
    </form>
{% endblock %}