{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Document' %} {% trans 'List' %}
{% endblock %}

{% block head %}
    {% include 'include_files/dataTables.html' %}
{% endblock %}

{% block main %}
    <div class="box-header" >
        <h3 class="box-title">{% trans 'Document' %} {% trans 'List' %}</h3>

        <div class="box-footer">
            <a class="btn btn-primary glyphicon glyphicon-plus-sign" href="{%  url 'document_add' %} "> {% trans 'New' %}</a>
        </div>
    </div>
    <div class=" box-body">
        <table id = 'table' class = " table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>№</th>
                    <th>{% trans 'Code' %}</th>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Acceptance date' %}</th>
                    <th>{% trans 'Comment' %}</th>
                    <th>{% trans 'link to template' %}</th>
                    <th width = '20%'>{% trans 'Settings' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for document in documents %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ document.code }}</td>
                        <td>{{ document.name}}</td>
                        <td>{{ document.acceptance_date}}</td>
                        <td>{{ document.comment}}</td>
                        <td>
                            <a href = '/media/{{ document.link_to_template }}' class="fa fa-download"/> {% trans "Download" %}</a>
                        </td>
                        <td>
                            <a class = 'btn btn-default glyphicon glyphicon-edit' href="{%  url 'document_edit' document.id %}"> {% trans 'Edit'%}</a>
                            <a class="btn  btn-default glyphicon glyphicon glyphicon-eye-open" href="{%  url 'document_show' document.id %}"> {% trans 'Show'%}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}