{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Country'%} {% trans 'list'%}
{% endblock %}

{% block head %}
    {% include 'include_files/dataTables.html' %}
{% endblock %}

{% block main %}
    <div class="box-header">
      <h3 class="box-title">{% trans 'Country'%} {% trans 'list'%}</h3>
    </div>
    <div class="box-body">
        <table id="table" class = "table table-striped table-hover table-bordered" data-serverSide="false">
            <thead>
                <tr>
                    <th>№</th>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Status' %}</th>
                    <th>{% trans 'Actions' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for country in countries %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ country.name }}</td>
                        <td>{{ country.status }}</td>
                        <td><a title="{% trans 'Edit' %}" class = 'btn btn-default glyphicon glyphicon-edit' href="{%  url 'country_edit' country.id %}"></a>
                            <a title="{% trans 'Details' %}" class="btn btn-default glyphicon glyphicon-eye-open" href="{%  url 'country_show' country.id %}"></a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <a class="btn btn-primary glyphicon glyphicon-plus-sign" href="{%  url 'country_add' %} "> {% trans 'New' %}</a>
    </div>
{% endblock %}