{% extends 'base.html' %}
{% load i18n %}

{% block main %}
    <table class='table table-bordered'>
        {% for markbook in markbooks %}
        	    <tr>
		            <td>
		                {{ markbook.subject }}
		            </td>
		            <td>
		                {{ markbook.teacher}}
		            </td>
		            <td>
		                {{ markbook.learning_group}}
		            </td>
		            <td>
		                {{ markbook.semester_year}}
		            </td>
                    <td>
                        <a href="{% url 'download_markbook' pk=markbook.pk %}">{% trans "Download" %}</a>
                    </td>
		        </tr>
        {% endfor %}
    </table>
    {% include 'autocomplete_light/static.html' %}
{% endblock %}

