{% extends 'base.html' %}
{% load i18n %}

{% block head %}
{% include "autocomplete_light/static.html" %}
{% endblock %}

{% block main %}

<div class="box-header">

    <h3 class="box-title">{% trans 'Add' %} {% trans 'Educational plan' %}</h3>

    <div class="divider">
        <hr/>
    </div>

    <form method="post">
        {% csrf_token %}
        <table class='table table-bordered'>
            <tr>
            	<th>{% trans 'Subject' %}</th>
            	<th>{% trans 'Total credits' %}</th>
            	<th>{% trans 'Teacher' %}</th>
            </tr>
			{{ data.management_form }}
			{% for form in data %}
            <tr>
            	<td>{{ form.instance.subject }}</td>
            	<td>{{ form.instance.total_credits }}</td>
            	<td>{{ form.teacher }}</td>
            	{% for hidden in form.hidden_fields %}
            		{{ hidden }}
            	{% endfor %}
            </tr>
			{% endfor %}
        </table>
        <input type="submit" class="btn btn-success pull-right" value="{% trans 'Save' %}">
    </form>

</div>
{% endblock %}
