
{% extends 'base.html' %}
{% load i18n %}

{% block head %}
    {% include "autocomplete_light/static.html" %}
{% endblock %}

{% block main %}

	    <div class="box-header">

		<h3 class="box-title">{% trans 'Add' %} {% trans 'Educational plan' %}</h3>

		<div class="divider">
		    <hr/>
		</div>

		<form method="post">
		    {% csrf_token %}
		    <div class="group">
            <table>
                {{ form }}
            </table>
		    </div>

            <input type="submit" class="btn btn-success pull-right" value="{% trans 'Save' %}">
        </form>

    </div>
{% endblock %}
