{% extends 'base.html' %}
{% load i18n %}

{% block head %}
    {% include "autocomplete_light/static.html" %}
{% endblock %}

{% block main %}

    <div class="box-header">

        <h3 class="box-title">{% trans 'Add' %} {% trans 'Educational plan' %}</h3>

        <div class="divider">
            <hr/>
        </div>

        <form method="post">
            {% csrf_token %}
            <div class="group">
                {{ speciality_form }}
            </div>

            <table class="table cloneable">
                <tr>
                    <th>{% trans 'Subject' %}</th>
                    <th>{% trans 'Total credits' %}</th>
                    <th>{% trans 'SWWT' %}</th>
                    <th>{% trans 'SSW' %}</th>
                    <th>{% trans 'Sem. I' %}</th>
                    <th>{% trans 'Sem. II' %}</th>
                    <th>{% trans 'Sem. III' %}</th>
                    <th>{% trans 'Sem. IV' %}</th>
                    <th>{% trans 'Sem. V' %}</th>
                    <th>{% trans 'Sem. VI' %}</th>
                    <th>{% trans 'Sem. VII' %}</th>
                    <th>{% trans 'Sem. VIII' %}</th>
                    <th>{% trans 'Test' %}</th>
                    <th>{% trans 'Exam' %}</th>
                    <th>{% trans 'Actions' %}</th>
                </tr>
                {{ form.management_form }}
                {% for field in form.forms %}
                    <tr class="form-group">
                        {% for f in field %}
                            <td {{ f.errors }}>{{ f }}</td>
                        {% endfor %}
                        <td><a title="{% trans 'Remove' %}" class='btn btn-danger btn-remove glyphicon glyphicon-erase'
                               href="#" onclick="removeRow(this)"></a></td>
                    </tr>
                {% endfor %}
            </table>

            <input type="button" class="btn btn-primary" value="{% trans 'Add' %}" id="add"/>
            <input type="submit" class="btn btn-success pull-right" value="{% trans 'Save' %}">
        </form>

    </div>
    <script>

        function ElementManipulate() {
            var element = document.getElementsByClassName("cloneable")[0];
            var elements = element.getElementsByClassName("form-group");

            this.getTotal = function () {
                return elements.length;
            };

            this.checkItemsCount = function (removeDisabling) {
                var total = this.getTotal();
                if (total == 1 & removeDisabling == undefined) {
                    elements[0].getElementsByClassName("btn-remove")[0].setAttribute('disabled', 'disabled');
                } else {
                    elements[0].getElementsByClassName("btn-remove")[0].removeAttribute('disabled');
                }
            };

            this.indexing = function () {
                var total = this.getTotal();
                var i;
                var j;
                var regex = new RegExp(/([0-9]+)/);

                for (i = 0; i < total; i++) {
                    var select = elements[i].getElementsByTagName("select")[0];
                    var test = regex.exec(select.getAttribute("name"));
                    select.setAttribute("name", select.getAttribute("name").replace('-' + test[0] + '-', '-' + i + '-'));

                    var inputs = elements[i].getElementsByTagName("input");
                    var inputsLen = inputs.length;
                    for (j = 0; j < inputsLen; j++) {
                        var name = inputs[j].getAttribute("name");
                        name = name.replace('-' + test[0] + '-', '-' + i + '-');
                        inputs[j].setAttribute("name", name);
                    }
                }
                document.getElementById("id_form-TOTAL_FORMS").value = total;
            };

            this.remove = function (element) {
                if (confirm('{% trans "are you sure?" %}')) {
                    element.parentNode.parentNode.remove();
                    this.indexing();
                }
            };

            this.add = function (selector) {
                var newElement = $(selector).last().clone();

                if (newElement.find("select").val() != null) {

                    newElement.find(".deck").empty();
                    newElement.find("select").empty();

                    $(selector).parent().append(newElement);

                    newElement.find("input").val("");
                    newElement.find("input").removeClass("error");

                    newElement.find("input.autocomplete").yourlabsTextWidget();
                    newElement.yourlabsWidget(yourlabs.RemoteAutocompleteWidget);

                }
                else {
                    alert('{% trans 'Field is required' %}');
                }
            }
        }

        var em = new ElementManipulate();
        em.indexing();
        em.checkItemsCount();

        function removeRow(el) {
            em.remove(el);
            em.checkItemsCount();
        }

        $('#add').click(function () {
            em.checkItemsCount("unable");
            em.add('.cloneable .form-group');
            em.indexing();
        });
    </script>
{% endblock %}
