{% extends 'base.html' %}
{% load i18n %}

{% block main %}

<form method="POST">
	{% csrf_token %}
	
	<table>
		{{ form }}
		<td colspan=2><input class='btn btn-primary' type='submit' value="{% trans 'Search' %}"/></td>
	 </table>

    <table>
        {% for element in elements %}
        	{% for educational_plan in element.educationalplan_set.all %}
        	    <tr>
		            <td>
		                {{ educational_plan.semester.name }}
		            </td>
		            <td>
		                {{ educational_plan.subject }}
		            </td>
		        </tr>
            {% endfor %}
        {% endfor %}
    </table>
    {% include 'autocomplete_light/static.html' %}
{% endblock %}