{% extends 'base.html' %}
{% load i18n %}

{% block main %}

<form method="POST" enctype='multipart/form-data'>
	{% csrf_token %}
	
	<table class='table table-bordered'>
		{{ form }}
		<td colspan=2><input class='pull-right btn btn-primary' type='submit' value="{% trans 'Upload' %}"/></td>
	 </table>

    {% include "autocomplete_light/static.html" %}
{% endblock %}
