{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'City' %} {% trans 'List' %}
{% endblock %}

{% block head %}
    {% include 'include_files/dataTables.html' %}
{% endblock %}

{% block main %}
    <div class="box-header">
      <h3 class="box-title">{% trans 'Add' %} {% trans 'city' %}</h3>
    </div>
    <div class="box-body">
        <h1>{% trans 'City' %} {% trans 'List' %}</h1>
        <table id = 'table' class = " table table-striped table-hover table-bordered" data-source = "{% url 'city_data_source' %}">
            <thead>
                <tr>
                    <th>№</th>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Status' %}</th>
                    <th>{% trans 'Region' %}</th>
                    <th>{% trans 'Region' %}</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="box box-footer">
        <a class="btn btn-primary glyphicon glyphicon-plus-sign" href="{%  url 'city_add' %} "> {% trans 'New' %}</a>
    </div>
{% endblock %}

