{% extends 'base.html' %}
{% load i18n %}
{% block head %}
    {% include "autocomplete_light/static.html" %}
{% endblock %}
{% block main %}
    <div class="container">
        <div class="box-header">
            <h3 class="box-title">{% trans 'Add' %} {% trans title %}</h3>
            <table id = 'table' class = " table table-striped table-hover table-bordered">
           
               </table>
        </div>

        <form method="post">
           
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="{% trans 'Add' %}"/>
            {% if cancel_url %}
                <a href="{{ cancel_url }}" class="btn btn-danger">{% trans 'Cancel' %}</a>
            {% endif %}

        </form>
    </div>
{% endblock %}
