{% extends 'base.html' %}
{% load i18n %}
{% block head %}
    {% include "autocomplete_light/static.html" %}
{% endblock %}
{% block main %}

    <div class="container">
    <form method="post">
        <div class="box-header">
            <h3 class="box-title">{% trans 'Добавить абитуриента' %} {% trans title %}</h3>
            <table id = 'table' class = " table table-striped table-hover table-bordered">

            <div class="tabs">
            <ul class="nav nav-tabs nav-justified">
              <li class="active"><a href="#tab-1" data-toggle="tab">Специальность</a></li>
              <li><a href="#tab-2" data-toggle="tab">Личные данные</a></li>
              <li><a href="#tab-3" data-toggle="tab">Научные информации</a></li>
              <li><a href="#tab-4" data-toggle="tab">Допольнительные информации</a></li>
            </ul>
            
              <div class="tab-content">
                  <div class="tab-pane active" id="tab-1">
                      <br>
                             
                             <p>{% trans 'Логин' %}{{form.username}}<b> {{ran}}</b>
                             <p>{% trans 'Специальность' %}{{form.speciality}}
                             
                             <p>{% trans 'Язык обучения'%}{{form.language}}
                             <p>{% trans 'Отдел'%}{{form.department_type}}
                             <p>{% trans 'Тип обучения'%}{{form.type_of_training}}
                            

                  </div>
                  
                  <div class="tab-pane" id="tab-2" >
                      <br> 
                               
                          <p>{% trans 'Имя' %}{{ form.first_name }}
                          <p>{% trans 'Фамилия' %}{{form.last_name}}
                          <p>{% trans 'Отчество' %}{{form.middle_name}}
                          <p>{% trans 'День рождения'%}{{form.birth_date}}
                          <p>{% trans 'Пол'%}{{form.gender}}
                          <p>{% trans 'Национальность'%}{{form.nationality}}
                          <p>{% trans 'Email'%}{{form.email}}
                          <p>{% trans 'Номер телефона'%}{{form.phone}}
                          <p>{% trans 'Серия паспорта'%}{{form.passport_series}}
                          <p>{% trans 'Номер паспорта'%}{{form.passport_number}}
                          <p>{% trans 'Паспортный отдел'%}{{form.passport_office}}{% trans 'дата получение'%}{{form.date_get_passport}}
                          <p>{% trans 'Регион'%}{{form.region}}
                           
                  </div>
                  
                  <div class="tab-pane" id="tab-3" >
                     <br>
                          
                          <p>{% trans 'Окончил учебную завидению'%}{{form.institution}} {% trans 'в'%}{{form.what_city_school}}{%trans ' дата '%}{{form.expiration_date_school}}
                          <p>{% trans  'Медал'%}{{form.medal}}{% trans  'кол:'%}{{form.medal_count}}
                          <p>{% trans  'Аттестат:'%}{{form.attestat}}

                          <p>{% trans 'Иностранные языки'%}{{form.foreign_language}}
                          <p>{% trans 'Язык учебной завидении'%}{{form.shool_language}}
                          
                          

                  </div>

                  <div class="tab-pane" id="tab-4" >
                      <br>
                           
                           <p>{% trans 'Рабочее место'%}{{form.workstation}}
                           <p>{% trans 'Дафтарчаи мехнати'%}{{form.employment}}  
                           <p>{% trans 'Отец'%}{{form.father_name}}{% trans 'тел:'%}{{form.father_phone_number}}
                           <p>{% trans 'Мама'%}{{form.mather_name}}{% trans 'тел:'%}{{form.mather_phone_number}}
                            <p>{% trans 'Заявитель'%}{{form.applicante}}                      
                           <p>{% trans ' Заявления '%} {{form.statement}} {% trans 'Фото '%}{{form.image}} {% trans ' Справка № 86 '%}{{form.medic_info}} {% trans ' Характеристика '%}{{form.characteristic}} {% trans ' Диплом '%}{{form.diplom}} {% trans ' Шаходатнома '%}{{form.shahodatnoma}} {% trans ' Дафтарчаи мехнати '%}{{form.employment_history}}

                           
                           


                      <p><input class="btn btn-primary" type="submit" value="{% trans 'Save' %}"/>

                  </div>
                  <h4>Общий <b>{{t}}</b>               Сегодня <b>{{today}}</b> </h4>   
              </div>
            </div>

           </table>
        </div>

        
            {% csrf_token %}
           
            
        </form>
    </div>
{% endblock %}
