{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Student List' %}
{% endblock %}


{% block main %}
    <div class="box-header">
      <h3 class="box-title">{% trans 'Add student' %}</h3>
    </div>
    <div class="box box-footer">
        <a class="btn btn-primary glyphicon glyphicon-plus-sign" href="{%  url 'welcome_student' %} "> {% trans 'New' %}</a>
    </div>
    <div class="box-body">
        <h1>{% trans 'Student list' %}</h1>
        <table id = 'table' class = " table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'First name' %}</th>
                    <th>{% trans 'Last name' %}</th>
                    <th>{% trans 'Middle name' %}</th>
                    <th>{% trans 'Email' %}</th>
                    <th>{% trans 'School' %}</th>
                    <th>{% trans 'School number' %}</th>
                    <th>{% trans 'entrance date' %}</th>
                    <th>{% trans 'department' %}</th>
                    <th>{% trans 'faculty' %}</th>
                    <th>{% trans 'Type learning' %}</th>
                    <th>{% trans 'Student_id' %}</th>

                </tr>
            </thead>
            <tbody>
           
                <tr>
                
                    <td>{{ student.username }}</td>
                    <td>{{ student.first_name }}</td>
                    <td>{{ student.last_name }}</td>
                    <td>{{ student.middle_name }}</td>
                    <th>{{ student.email }}</th>
                    <th>{{ student.institution }}</th>
                    <td>{{ student.school_number }}</td>
                    <th>{{ student.entrance_date }}</th>
                    <th>{{ student.department_type }}</th>
                    <th>{{ student.speciality.faculty }}</th>
                    <td>{{ student.type_of_training }}</td>
                    <td>{{ student.id }}</td>
                </tr>

            </tbody>

            <thead>
                <tr>
                   
                    <th>{% trans 'Phone' %}</th>
                    <th>{% trans 'Speciality' %}</th>
                    <th>{% trans 'Language' %}</th>
                    <th>{% trans 'Foreign language' %}</th>
                    <th>{% trans 'School language' %}</th>
                    <th>{% trans 'Passport series' %}</th>
                    <th>{% trans 'Passport number' %}</th>
                    <th>{% trans 'Passport office' %}</th>
                    <th>{% trans 'Workstation' %}</th>
                    <th>{% trans 'Applicante' %}</th>
                    <th>{% trans 'Region' %}</th>
                   

                  

                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td>{{ student.phone }}</td>
                    <td>{{ student.speciality }}</td>
                    <td>{{ student.language }}</td>
                    <td>{{ student.foreign_language }}</td>
                    <td>{{ student.shool_language }}</td>
                    <td>{{ student.passport_series }}</td>
                    <td>{{ student.passport_number }}</td>
                    <td>{{ student.passport_office }}</td>
                    <td>{{ student.workstation }}</td>
                    <td>{{ student.applicante }}</td>
                    <td>{{ student.region }}</td>



                    
                   
                
            </tbody>

        </table>

       
        {{order}}



    </div>
{% endblock %}

