{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Region' %} {% trans 'List' %}
{% endblock %}

{% block head %}
    {% include 'include_files/dataTables.html' %}
{% endblock %}

{% block main %}
    <div class="box-header">
        <h3 class="box-title">{% trans 'Region' %} {% trans 'List' %}</h3>
    </div>
    <div class="box-body">
        <table id="table" class="table table-striped table-hover table-bordered" data-serverSide="false">
            <thead>
            <tr>
                <th>№</th>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Country' %}</th>
                <th>{% trans 'Show' %}</th>
                <th>{% trans 'Edit' %}</th>
            </tr>
            </thead>
            <tbody>

            {% for region in regions %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ region.name }}</td>
                    <td>{{ region.country }}</td>
                    <td><a title="{% trans 'Show' %}" class='btn btn-default glyphicon glyphicon-edit'
                           href="{% url 'region_edit' region.id %}"></a></td>
                    <td><a title="{% trans 'Details' %}" class="btn  btn-default glyphicon glyphicon-eye-open"
                           href="{% url 'region_show' region.id %}"></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="box-footer"><a href="{% url 'region_add' %} ">{% trans 'New' %}</a></div>
{% endblock %}
