{% load i18n %}
{% load autocomplete_light_tags %}

{% if choices %}
    {% for choice in choices %}
        {{ choice|autocomplete_light_choice_html:autocomplete }}
    {% endfor %}
{% else %}
    <a href="#" data-location = '{{ choices.__class__ }}'>link</a>
    <h2>{% trans 'No matching person found' %}</h2>
{% endif %}