<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}

<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/admin/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/admin/ionicons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/admin/AdminLTE.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>



    {#    <link href="{% static 'css/admin/skins/skin-blue.min.css' %}" rel="stylesheet" type="text/css" />#}

    {# Загрузка всех тем по желанию можно загрузить только одну  #}

    <link href="{% static 'css/admin/skins/_all-skins.css' %}" rel="stylesheet" type="text/css" />

    <!-- jQuery 2.1.4 -->
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <!-- Bootstrap 3.3.2 JS -->
    <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'js/admin/app.min.js' %}" type="text/javascript"></script>



    {% block head %}{% endblock %}
  </head>
  <!--
  BODY TAG OPTIONS:
  =================
  Apply one or more of the following classes to get the
  desired effect
  |---------------------------------------------------------|
  | SKINS         | skin-blue                               |
  |               | skin-black                              |
  |               | skin-purple                             |
  |               | skin-yellow                             |
  |               | skin-red                                |
  |               | skin-green                              |
  |---------------------------------------------------------|
  |LAYOUT OPTIONS | fixed                                   |
  |               | layout-boxed                            |
  |               | layout-top-nav                          |
  |               | sidebar-collapse                        |
  |               | sidebar-mini                            |
  |---------------------------------------------------------|
  -->
  <body class="skin-purple-light sidebar-mini">
    <div class="wrapper">
    <header class="main-header">
        <a href="{% url 'index' %}" class="logo">
          <span class="logo-mini">{% trans 'ST' %}</span>
          <span class="logo-lg"><b style="opacity: 0.2">{% trans 'SK' %}</b>{% trans 'ART' %}</span>
        </a>
        {% include 'top_menu.html' %}
      </header>
      <!-- Left side column. contains the logo and sidebar -->

        {% include 'side_menu.html' %}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          {% include 'messages.html' %}
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-lg-12">
                    <div class = 'box box-danger'>
                        {% block main %}
                        {% endblock %}
                      <!-- Your Page Content Here -->
                    </div>
                </div>
            </div>
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
          Welcome!
        </div>
        <!-- Default to the left -->
        <strong>{%  trans 'Copyright ' %}&copy; 2015<a href="#"> {% trans 'TSULBP' %}</a>.</strong> {% trans 'All rights reserved.' %}
      </footer>

        {% include 'right_settings_menu.html' %}
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class='control-sidebar-bg'></div>
    </div><!-- ./wrapper -->
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'js/admin/demo.js'%}" type="text/javascript"></script>
  </body>
</html>
