{% extends 'base.html' %}
{% load i18n %}

{% block head %}
    {% include "autocomplete_light/static.html" %}
{% endblock %}

{% block main %}

	<form method='post'>
		{% csrf_token %}
        <table class="table table-bordered">
			{{ form }}
			<tr>
				<td colspan=2>
					<input type='submit' class='btn btn-primary' value='{% trans 'Save' %}'/>
				</td>
			</tr>
		</table>
	</form>

{% endblock %}
