{% load i18n %}
<!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
          <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Home tab content -->
          <div class="tab-pane" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">{% trans 'Recent Activity' %}</h3>
            <ul class='control-sidebar-menu'>
              <li>
                <a href='javascript::;'>
                  <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">{% trans "Langdon's Birthday" %}</h4>
                    <p>{% trans 'Will be 23 on April 24th' %}</p>
                  </div>
                </a>
              </li>
              <li>
                <a href='javascript::;'>
                  <i class="menu-icon fa fa-user bg-yellow"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">{% trans 'Frodo Updated His Profile' %}</h4>
                    <p>{% trans 'New phone +1(800)555-1234' %}</p>
                  </div>
                </a>
              </li>
              <li>
                <a href='javascript::;'>
                  <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">{% trans 'Nora Joined Mailing List' %}</h4>
                    <p>nora@example.com</p>
                  </div>
                </a>
              </li>
              <li>
                <a href='javascript::;'>
                  <i class="menu-icon fa fa-file-code-o bg-green"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">{% trans 'Cron Job 254 Executed' %}</h4>
                    <p>{% trans 'Execution time 5 seconds' %}</p>
                  </div>
                </a>
              </li>
            </ul><!-- /.control-sidebar-menu -->

            <h3 class="control-sidebar-heading">{% trans 'Tasks Progress' %}</h3>
            <ul class='control-sidebar-menu'>
              <li>
                <a href='javascript::;'>
                  <h4 class="control-sidebar-subheading">
                    {% trans 'Custom Template Design' %}
                    <span class="label label-danger pull-right">70%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href='javascript::;'>
                  <h4 class="control-sidebar-subheading">
                    {% trans 'Update Resume' %}
                    <span class="label label-success pull-right">95%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href='javascript::;'>
                  <h4 class="control-sidebar-subheading">
                    {% trans 'Back End Framework' %}
                    <span class="label label-primary pull-right">68%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                  </div>
                </a>
              </li>
            </ul><!-- /.control-sidebar-menu -->

          </div><!-- /.tab-pane -->

          <!-- Settings tab content -->
          <div class="tab-pane" id="control-sidebar-settings-tab">
            <div class="form-group">
                <label class="control-sidebar-subheading">
                    <form action="/i18n/setlang/" method="post" class="navbar-form navbar-left" >
                        <div class="form-group">
                            {% csrf_token %}
                            <div class = 'row'>
                                <input name="next" type="hidden" value="{{ redirect_to }}"/>
                                <select class="form-control col-lg-3" name="language">
                                    {% get_current_language as LANGUAGE_CODE %}
                                    <option value="ru"{% if "ru" == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                        Русский (ru)
                                    </option>
                                    <option value="tj"{% if "tj" == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                        Точики (tj)
                                    </option>
                                    <option value="en"{% if "en" == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                        English (en)
                                    </option>
                                </select>
                                <button onclick="return validate()" type="submit" value="" class="btn fa fa-check form-control col-lg-2 btn-success" style="margin-left: 0px"></button>
                            </div>
                            <br>
                            <div class="row">
                                <p class = "text-red">
                                  <i class="fa fa-warning"></i>
                                    {% trans 'Warning! if you want to change the language, before save current work, because page will be refreshed.' %}
                                </p>
                            </div>
                        </div>
                    </form>
                </label>

              </div><!-- /.form-group -->


          <form method="post">
              <h3 class="control-sidebar-heading">{% trans 'General Settings' %}</h3>

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  {% trans 'Expose author name in posts' %}
                  <input type="checkbox" class="pull-right" checked />
                </label>
                <p>
                  {% trans 'Allow the user to show his name in blog posts' %}
                </p>
              </div><!-- /.form-group -->

              <h3 class="control-sidebar-heading">{% trans 'Chat Settings' %}</h3>

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  {% trans 'Show me as online' %}
                  <input type="checkbox" class="pull-right" checked />
                </label>
              </div><!-- /.form-group -->

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  {% trans 'Turn off notifications' %}
                  <input type="checkbox" class="pull-right" />
                </label>
              </div><!-- /.form-group -->

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  {% trans 'Delete chat history' %}
                  <a href="javascript::;" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                </label>
              </div><!-- /.form-group -->
            </form>
          </div><!-- /.tab-pane -->
        </div>
      </aside><!-- /.control-sidebar -->

    <script>
        function validate(){
            var conf = confirm("{% trans 'are you sure?' %}");
            return !!conf;
        }
    </script>