{% load i18n %}
{% load static %}
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{% static 'img/avatar04.png' %}" class="img-circle" alt="User Image"/>
            </div>
            <div class="pull-left info">
                <p>{{ user.username }}</p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i> {% trans 'Online' %}</a>
            </div>
        </div>

        <!-- search form (Optional) -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="{% trans 'Search' %}"/>
          <span class="input-group-btn">
            <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i>
            </button>
          </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">{% trans 'HEADER' %}</li>
            <!-- Optionally, you can add icons to the links -->
            <li><a href="{% url 'index' %}"><i class='fa fa-home'></i> <span>{% trans 'Home' %}</span></a></li>


                <!-------------------------------------------------------- -->
                {% if perms.androlle %}
             <li class="treeview">
                <a href="#"><i class='glyphicon glyphicon-log-in'></i> <span>{% trans 'Прием абитуриентов' %}</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                    <li class="treeview"><a href="/androlle/welcome/student"> {% trans 'Добавить абитуриента' %} </a> </li>
                    <li><a href="/androlle/result/students"> {% trans 'Список абитуриентов' %} </a></li>
                    <li><a href="/androlle/report/list"> {% trans 'Отчеты' %} </a></li>
                    </ul>
                    </li>
                </li>
                {% endif %}
       
         <!--**************************HR******************************************************************8-->
            <li class="treeview">
                <a href="#"><i class='fa fa-book'></i> <span>{% trans 'Directory' %}</span> <i
                        class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">

                    {% if perms.location %}
                    <li class="treeview">
                        <a href="#"><span> {% trans 'Location' %} </span> <i
                                class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu ">
                            <li><a href="/location/country">{% trans 'Country' %}</a></li>
                            <li><a href="/location/region">{% trans 'Region' %}</a></li>
                            <li><a href="/location/city">{% trans 'City' %}</a></li>
                            <li><a href="/location/address">{% trans 'Address' %}</a></li>
                        </ul>
                    </li>
					{% endif %}
                    {% if perms.documents %}
                    <li class="treeview">
                        <a href="#"><span> {% trans 'Documents' %} </span> <i
                                class="fa fa-angle-left pull-right"></i></a>
                    </li>
					{% endif %}

                    {% if perms.refs %}
                    <li class="treeview">
                        <a href="#"><span> {% trans 'Refs' %} </span> <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li class="treeview"><a href="/refs/places_address">{% trans 'Places address' %}</a></li>
                            <li class="treeview"><a href="/refs/nationality">{% trans 'Nationality' %}</a></li>
                            <li class="treeview"><a href="{% url 'subject_list' %}">{% trans 'Subject' %}</a> </li>
                            <li class="treeview"><a href="{% url 'positions_list' %}">{% trans 'Position' %}</a> </li>
                            <li class="treeview"><a href="{% url 'faculty_list' %}">{% trans 'Faculty' %}</a> </li>
                            <li><a href="{% url 'lang_list' %}">{% trans 'Languages' %}</a></li>
                        </ul>
                    </li>
		    {% endif %}


                    {% if perms.people %}
                    <li class="treeview">
                        <a href="#"><span> {% trans 'People' %} </span> <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li class="treeview"><a href="/people/staff">{% trans 'Staffs' %}</a></li>
                            <li class="treeview"><a href="{% url 'teachers_list' %}">{% trans 'Teachers' %}</a></li>
                            <li class="treeview"><a href="{% url 'student_list' %}">{% trans 'Students' %}</a></li>
                        </ul>
                    </li>

		   {% endif %}

                </ul>
            </li>

            {% if perms.testing %}
	            <li class="treeview">
	
	                <a href="#"><i class='fa fa-check-circle'></i> <span>{% trans 'Test' %}</span> <i
	                        class="fa fa-angle-left pull-right"></i></a>
	                <ul class="treeview-menu">
	
	                    <li class="treeview">
	                        <a href="#"><span> {% trans 'Testing' %} </span> <i class="fa fa-angle-left pull-right"></i></a>
	                        <ul class="treeview-menu ">
	                            {% if perms.testing.add_groupsubject%}
		                            <li><a href="{% url 'show_available_tests' %}">{% trans 'Pass tests' %}</a></li>
	                            {% endif %}
	                            {% if perms.testing.add_testcase %}
		                            <li><a href="{% url 'show_tests' %}">{% trans 'Show tests' %}</a></li>
                                {% endif %}
                                {% if perms.learning_process %}
                                    <li><a href="/testing/upload">{% trans 'Upload test' %}</a></li>
                                    <li><a href="{% url 'upload_zip_test' %}">{% trans 'Upload zip(images)' %}</a></li>
                                    <li><a href="{% url 'test_results' %}">{% trans 'Results' %}</a></li>
                                    <li><a href="{% url 'grant_test_access' %}">{% trans 'Test access' %}</a></li>
                                    <li><a href="{% url 'online_test_result' %}">{% trans 'Bill' %}</a></li>
	                            {% endif %}
                                {% if perms.learning_process.move_next_course %}
                                    <li><a href="{% url 'online_test_result' %}">{% trans 'Move next course' %}</a></li>
                                {% endif %}
	                        </ul>
	                    </li>
	                </ul>
	            </li>
            {% endif %}

            <li class="treeview">
                <a href="#"><i class='fa fa-area-chart'></i> <span>{% trans 'Journal' %}</span> <i
                    class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
			{% if request.user.lessons %}
				<li><a href="{% url 'edu_show_full_journal' %}">{% trans 'Full journal' %}</a></li>
			{% endif %}

	    <li class="treeview">

                {% if request.user.classes %}
                <a href="#"><span> {% trans 'Groups' %} </span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu ">
                    <li class="treeview">

                        {% if request.user.classes %}
                        <a href="#"><span> {% trans 'Set marks' %} </span> <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu ">
                            {% for key, value in request.user.classes.items %}
                            <li class="treeview">
                            <a href="#"><span> {{ key }} </span> <i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu ">
                                {% for item in value %}
                                            <li><a href="{% url 'set_mark' mark_book_id=item.0 %}">
                                                {{item.1}}</a></li>
                                {% endfor %}
                            </ul>
                            {% endfor %}
                        </ul>
		        {% endif %}
                        {% if request.user.lessons %}
                            <a href="#"><span> {% trans 'Subjects' %} </span> <i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu ">
                                {% for key, value in request.user.lessons.items %}
                                    <li><a href="{% url 'show_journal' mark_book_id=key %}">{{ value }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                </ul>
		{% endif %}
		<ul class="treeview-menu">
			<li class="treeview">
				{% if request.user.classes %}
				<a href="#"><span> {% trans 'Show marks' %} </span> <i class="fa fa-angle-left pull-right"></i></a>
				<ul class="treeview-menu ">
				    <li class="treeview">
					    {% for key, value in request.user.classes.items %}
					    <a href="#"><span> {{ key }} </span> <i class="fa fa-angle-left pull-right"></i></a>
					    <ul class="treeview-menu ">
						{% for item in value %}
						    <li><a href="{% url 'show_mark' mark_book_id=item.0 %}">
							{{item.1}}</a></li>
						{% endfor %}
					    </ul>
					    {% endfor %}
				    </li>
				</ul>
				{% endif %}
			</li>
		</ul>
		</ul>
		    </li>

            {% if perms.learning_process %}
	            <li class="treeview">
	                <a href="#"><i class='fa fa-joomla'></i> <span>{% trans 'Learning process' %}</span> <i
	                        class="fa fa-angle-left pull-right"></i></a>
	                <ul class="treeview-menu">
	                    <li class="treeview">
	                        <a href="#"><span> {% trans 'Learning process' %} </span> <i
	                                class="fa fa-angle-left pull-right"></i></a>
	                        <ul class="treeview-menu ">
	                            <li><a href="{% url 'learning_group_list' %}">{% trans 'Learning groups' %}</a></li>
	                            <li><a href="{% url 'speciality_list' %}">{% trans 'Specialities' %}</a></li>
	                            <li><a href="{% url 'specialization_list' %}">{% trans 'Specializations' %}</a></li>
	                            <li><a href="{% url 'select_group_semester' %}">{% trans 'EP Learning Group' %}</a></li>
	                        </ul>
	                    </li>
	                </ul>
	            </li>
	    {% endif %}

            {% if perms.educational_plan.add_educationalplanmain %}
            <li class="treeview">
                <a href="#"><i class='fa fa-archive'></i> <span>{% trans 'Educational plan' %}</span> <i
                        class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li class="treeview">
                        <a href="#"><span> {% trans 'Educational plan' %} </span> <i
                                class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu ">
                            <li><a href="{% url 'educational_plan' %}">{% trans 'Educational plan' %}</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            {% endif %}

            {% if request.user.is_superuser %}
            <li class="treeview">

                <a href="#"><i class='fa fa-archive'></i> <span>{% trans 'Settings' %}</span> <i
                        class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li class="treeview">
                        <a href="#"><span> {% trans 'General' %} </span> <i
                                class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu ">
				<li><a href="{% url 'student_change_pass' %}">{% trans 'Change password' %}</a></li>
                        </ul>
                    </li>

                </ul>
            </li>
            {% endif %}
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>

{#<script>#}
{#    var url = document.URL;#}
{#    url = url.split("/");#}
{#    var length = (url.length - 2);#}

{#    var new_location = "";#}
{#    for (var i = 3; i <= 4; i++) {#}
{#        new_location += "/" + url[i];#}
{#    }#}

{#    var menu = document.getElementsByClassName("sidebar-menu")[0];#}
{#    var aTags = menu.getElementsByTagName("a");#}

{#    for (var i in aTags) {#}
{#        if (aTags[i].getAttribute("href") == new_location) {#}
{#            aTags[i].parentNode.className += " active"#}
{#            aTags[i].parentNode.parentNode.parentNode.className += " active"#}
{#            aTags[i].parentNode.parentNode.parentNode.parentNode.parentNode.className += " active"#}
{#            break;#}
{#        }#}
{#    }#}

{#</script>#}
