{% load static %}
{% load i18n %}

{% trans 'You have' as you_have %}
<style>
.top-center{
	color: white; 
	font-size: large; 
	position: absolute; 
	padding-left: 50px; 
	margin-top: 12px;
}
</style>
<nav class="navbar navbar-static-top" role="navigation">
  <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
    <span class="sr-only">{% trans 'Toggle navigation' %}</span>
  </a>
  <span class='top-center'>{{ request.settings.current_week }}</span>
  <div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
      <li class="dropdown messages-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-envelope-o"></i>
          <span class="label label-success">4</span>
        </a>
        <ul class="dropdown-menu">
          <li class="header">{{ you_have }} 4 {% trans 'messages' %}</li>
          <li>
            <ul class="menu">
              <li><!-- start message -->
                <a href="#">
                  <div class="pull-left">
                    <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image"/>
                  </div>
                  <h4>
                    Support Team
                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                  </h4>
                  <p>Why not buy a new awesome theme?</p>
                </a>
              </li><!-- end message -->
            </ul><!-- /.menu -->
          </li>
          <li class="footer"><a href="#">{% trans 'See All Messages' %}</a></li>
        </ul>
      </li><!-- /.messages-menu -->

      <!-- Notifications Menu -->
      <li class="dropdown notifications-menu">
        <!-- Menu toggle button -->
         {{ request.user.notifications }} 
      </li>
      <!-- Tasks Menu -->
      <li class="dropdown tasks-menu">
        <!-- Menu Toggle Button -->
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-flag-o"></i>
          <span class="label label-danger">9</span>
        </a>
        <ul class="dropdown-menu">
          <li class="header">{{ you_have }} 9 {% trans 'tasks' %}</li>
          <li>
            <!-- Inner menu: contains the tasks -->
            <ul class="menu">
              <li><!-- Task item -->
                <a href="#">
                  <!-- Task title and progress text -->
                  <h3>
                    Design some buttons
                    <small class="pull-right">20%</small>
                  </h3>
                  <!-- The progress bar -->
                  <div class="progress xs">
                    <!-- Change the css width attribute to simulate progress -->
                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                      <span class="sr-only">20% Complete</span>
                    </div>
                  </div>
                </a>
              </li><!-- end task item -->
            </ul>
          </li>
          <li class="footer">
            <a href="#">{% trans 'View all tasks' %}</a>
          </li>
        </ul>
      </li>
      <!-- User Account Menu -->
      <li class="dropdown user user-menu">
        <!-- Menu Toggle Button -->
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <!-- The user image in the navbar-->
          <img src="{% static 'img/avatar04.png' %}" class="user-image" alt="User Image"/>
          <!-- hidden-xs hides the username on small devices so only the image appears. -->
          <span class="hidden-xs">{{ user.get_short_name }}</span>
        </a>
        <ul class="dropdown-menu">
          <!-- The user image in the menu -->
          <li class="user-header">
            <img src="{% static 'img/avatar04.png' %}" class="img-circle" alt="User Image" />
            <p>
              {{ user.get_full_name }}
              <small> 2016</small>
            </p>
          </li>
          <!-- Menu Body -->
          <li class="user-body">
            <div class="col-xs-4 text-center">
              <a href="#">{% trans 'Followers' %}</a>
            </div>
            <div class="col-xs-4 text-center">
{#              <a href="#">Sales</a>#}
            </div>
            <div class="col-xs-4 text-center">
              <a href="#">{% trans 'Friends' %}</a>
            </div>
          </li>
          <!-- Menu Footer-->
          <li class="user-footer">
            <div class="pull-left">
              <a href="/androlle/change/user/password/" class="btn btn-default btn-flat">{% trans 'Profile' %}</a>
            </div>
            <div class="pull-right">
              <a href="{% url 'logout' %}" class="btn btn-default btn-flat">{% trans 'Sign out' %}</a>
            </div>
          </li>
        </ul>
      </li>
      <!-- Control Sidebar Toggle Button -->
      <li>
        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
      </li>
    </ul>
  </div>
</nav>