{% extends 'base.html' %}
{% block main %}
	
	<table class='table table-bordered'>
	{% for test in tests %}
		<tr>
			<td>
				<a href="{% url 'pass_test_check' test=test.pk %}">{{ test.test_case.subject }}</a>
			</td>
		</tr>
	{% endfor %}
	</table>
{% endblock %}
