{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
	{% include "autocomplete_light/static.html" %}
{% endblock %}

{% block title %}
	{% trans 'Generate test' %}
{% endblock %}


{% block main %}
	<form method='post'>
		{% csrf_token %}
		{{ form }}
		<input class='btn btn-primary' type='submit' value="{% trans 'Search' %}"></input>
		
		{% if test_case %}
			{% for t_c in test_case %}
				<input name='test_case' type="checkbox" value={{ t_c.pk }}></input>
				{{ t_c.state }}
			{% endfor %}
		{% endif %}
	</form>
{% endblock %}
