{% extends 'base.html' %}
{% load i18n %}

{% block head %}
    {% include "autocomplete_light/static.html" %}
{% endblock %}
{% block main %}
    <form method="post">
        <table>
        {% csrf_token %}
        {{ form }}
    </table>
    <div> 
        <input type="submit" class="btn btn-primary pull-left" value="{% trans 'Search' %}">
        <a class='btn btn-danger pull-right' href="{% url 'close_tests_access' %}">{% trans "Close access to all tests" %}</a>
    </div>
    </form>

    <table class="table table-bordered">

        {% for result in test_results %}
        <tr>
            <td>
                {{ result.learning_group }}
            </td>
            <td>
                {{ result.test_case.subject }}
            </td>
            <td>
                {{ result.test_case.teacher }}
            </td>
            <td>
                <a href="{% url 'download_test_result' group_subject=result.pk %}">
                    {% trans 'Print' %}</a>
            </td>
        </tr>
        {% endfor %}

    </table>
{% endblock %}
