{% extends 'base.html' %}
{% load i18n %}

{% block head %}
    {% include "autocomplete_light/static.html" %}
{% endblock %}

{% block main %}

	<form method='post'>
		{% csrf_token %}
			{{ form }}
			<tr>
				<td colspan=2>
					<input type='submit' class='btn btn-primary' value='{% trans 'Search' %}'></input>
				</td>
			</tr>
		</table>
	</form>
    {% if test_list %}
    <table class="table table-bordered">
    {% for list in test_list %}
        <tr>
        <td>{{ list.markbook.teacher }}</td>
        <td>
            <a href="{% url 'show_internal_unauthorized_tests' group_subject_id=list.pk %}">
                {{ list.markbook.subject }}</a>
        </td>
        </tr>
    {% endfor %}
    </table>
    {% endif %}
{% endblock %}
