<!DOCTYPE html>
<html>
{% load i18n %}
{% load static %}
<head>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="box-body">
        <div class="box-header">
            <table class="table table-bordered">
                <tr>
                    <td>{% trans 'Subject' %}</td>
                    <td>{{ test_case.subject }} </td>
                </tr>
                <tr>
                    <td>{% trans 'Teacher' %}</td>
                    <td>{{ test_case.teacher }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Code' %}</td>
                    <td>{{ test_case.code }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Standard question count' %}</td>
                    <td>{{ standard.count }}</td>
                </tr>
                <tr>
                    <td>{% trans 'Fitness question count' %}</td>
                    <td>{{ fitness.count }}</td>
                </tr>
            </table>
        </div>
		<div class='text-center'><h2>{% trans 'Standard questions' %}</h2></div>
        <table class="table">
            {% for question in standard %}
            	<tr>
                    <td class="question" colspan=4>
					    {% trans 'Question' %}: {{ question.question |safe }}
                    </td>
				</tr>
	        	<tr>
				{% for answer in question.answeroption_set.all %}
                    <td>
						{{ answer.answer_option |safe }}
                    </td>
				{% endfor %}
	            </tr>
            {% endfor %}
        </table>
		<div class='text-center'><h2>{% trans 'Fitness questions' %}</h2></div>
        <table class="table">
            {% for question in fitness %}
            	<tr>
                    <td class="question" colspan=4>{% trans 'Question' %}:
					    {{ question.question |safe }}
                    </td>
				</tr>

				{% for answer in question.fitnessquestion_set.all %}
	        		<tr>
						<td>
							{{ answer.sub_question |safe }}
                        </td>
						<td>
							{{ answer.answer |safe}}
                        </td>
		            </tr>
				{% endfor %}
            {% endfor %}
        </table>
    </div>
</body>
</html>
