{% extends 'base.html' %}
{% load i18n %}

{% block head %}
    {% include "autocomplete_light/static.html" %}
{% endblock %}
{% block main %}
    <form method="post">
        <table>
        {% csrf_token %}
        {{ form }}
    </table>
    <div> 
        <input type="submit" class="btn btn-primary pull-left" value="{% trans 'Search' %}">
    </div>
    </form>

    <table class="table table-bordered">

        {% for result in test_results %}
        <tr>
            <td>
                {{ result.group_subject.learning_group }}
            </td>
            <td>
                {{ result.group_subject.test_case.subject }}
            </td>
            <td>
                {{ result.student }}
            </td>
            <td>
                {{ result.group_subject.test_case.code }}
            </td>
            <td>
                <a href="{% url 'download_student_errors' test_attempt=result.pk %}">
                    {% trans 'Print' %}</a>
            </td>
        </tr>
        {% endfor %}

    </table>
{% endblock %}
