<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}

<html>
<head>
<meta charset="UTF-8">
<title>{% trans 'Testing' %}</title>
<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>

<!-- jQuery 2.1.4 -->
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<!-- Bootstrap 3.3.2 JS -->

<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>				
<script src="{% static 'mathml/MathJax.js?config=Accessible' %}"></script>		    

<script>
function startTimer() {
	var my_timer = document.getElementById("my_timer");
	var time = my_timer.innerHTML;
	var arr = time.split(":");
	var h = arr[0];
	var m = arr[1];
	var s = arr[2];
	if (s == 0) {
		if (m == 0) {
			if (h == 0) {
				alert("Время вышло");
				window.location.reload();
				return;
			}
			h--;
			m = 60;
			if (h < 10) h = "0" + h;
		}
		m--;
		if (m < 10) m = "0" + m;
		s = 59;
	}
	else s--;
	if (s < 10) s = "0" + s;
	document.getElementById("my_timer").innerHTML = h+":"+m+":"+s;
	setTimeout(startTimer, 1000);
}
</script>
<style>

.margin_auto {
	margin-top:150px;
}

body {
	font-size: 18pt;
}			
</style>
</head>

<div class='container'>
	<div class='row header' >
		<div class='col-lg-3'> <h3><p class='bg-primary'>{{ student.get_full_name }}</p></h3> </div>
		<div class='col-lg-3'> <h3>{{ student.learning_group }}</h3> </div>
		<div class='col-lg-3'> <h4>{{ subject }}</h4> </div>			
		<div class='col-lg-3'> <h3><p><span id="my_timer" style="color: #f00; font-size: 150%; font-weight: bold;">00:{{ time_limit.m }}:{{ time_limit.s }}</span></p></h3> </div>		

		<script>startTimer();</script>
	</div>

	<div class='row'>
		<div> <h3><p class='col-lg-4 bg-info text-center'> {% trans 'Question' %}: {{ question_number }}</p></h3> </div>
		<div> <h3><p class='col-lg-4 bg-info text-center'> {% trans 'Type' %}: {% trans question.type %}</p></h3> </div>
        <div> <h3><p class='col-lg-4 bg-info text-center'></p></h3></div>
	</div>



	<form method='post'>	
		{% csrf_token %}		
		<table class='table table-bordered'>				
			{% if question.type == 'standard' %}
                <input type='hidden' name='standard' value='standard'>
                <tr>
                    <td>{% trans 'Question' %}</td>
                    {% if "|||" in question.question %}
                        <td><img src="/media/{{ question.question|slice:"3:" }}"></td>
                    {% else %}
                        <td><h2> {{ question.question|safe }}</h2></td>
                    {% endif %}
                </tr>
                {% for value in question.answers_standard %}
                    {% for k, v in value.items %}
                        <tr>
                            <td><input type='radio' name='question' value='{{ k }}'></td>
                            {% if "|||" in v %}
                                <td><img src="/media/{{ v|slice:"3:" }}"></td>
                            {% else %}
                                <td>{{ v|safe }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% elif question.type == 'multiselect' %}
                <input type='hidden' name='multiselect' value='multiselect'>
                <tr>
                    <td>{% trans 'Question' %}</td>
                    {% if "|||" in question.question %}
                        <td><img src="/media/{{ question.question|slice:"3:" }}"></td>
                    {% else %}
                        <td><h2> {{ question.question|safe }}</h2></td>
                    {% endif %}
                </tr>
                {% for value in question.answers_standard %}
                    {% for k, v in value.items %}
                        <tr>
                            <td><input type='checkbox' name='question_{{ forloop.counter }}' value='{{ k }}'></td>
                            {% if "|||" in v %}
                                <td><img src="/media/{{ v|slice:"3:" }}"></td>
                            {% else %}
                                <td>{{ v|safe }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% elif question.type == 'yesno' %}
                <input type='hidden' name='yesno' value='yesno'>
                <tr>
                    <td>{% trans 'Question' %}</td>
                    {% if "|||" in question.question %}
                        <td><img src="/media/{{ question.question|slice:"3:" }}"></td>
                    {% else %}
                        <td><h2> {{ question.question|safe }}</h2></td>
                    {% endif %}
                </tr>
                <tr>
                    <td><input type="radio" name="yesno" id="yes" value="yes" /></td>
                    <td>{% trans 'Yes' %}</td>
                </tr>
                <tr>
                    <td><input type="radio" name="yesno" id="no" value="no"/></td>
                    <td>{% trans 'No' %}</td>
                </tr>
			{% else %}
                <input type='hidden' name='fitness' value='fitness'>

                <tr>
                    {% if "|||" in question.question %}
                    <td>{% trans 'Question' %}</td><td colspan=2><img src="/media/{{ question.question|slice:"3:" }}"></td>
                    {% else %}
                    <td>{% trans 'Question' %}</td><td colspan=2> {{ question.question }}</td>
                    {% endif %}
                </tr>
                {% for key, value in question.answers_fitness.items %}
                <tr>
                    <td>
                        {% if key != 5%}
                            <select id='answer_{{ key }}' name='answer_{{ key }}'>
                                <option value='1'>1</option>
                                <option value='2'>2</option>
                                <option value='3'>3</option>
                                <option value='4'>4</option>
                                <option value='5'>5</option>
                            </select>
                        {% endif %}
                    </td>

                    {% if "|||" in value.question %}
                           <td><img src="/media/{{ value.question|slice:"3:" }}"></td>
                    {% else %}
                        <td>{{ value.question|safe }}</td>
                    {% endif %}
                	<td>{{forloop.counter}}. 
                        {% if "|||" in value.answer %}
                            <img src="/media/{{ value.answer|slice:"3:" }}">
                        {% else %}
                            {{ value.answer|safe }}
                        {% endif %}
                    </td>
			</tr>
			{% endfor %}
			{% endif %}
		</table>

		<input type='submit' name='back' class='btn btn-danger' value="{% trans 'BACK' %}">
		{% if finish %}
		<input type='submit' name='finish' class='btn btn-success pull-right' value="{% trans 'FINISH' %}">
		{% else %}
		<input type='submit' name='next' class='btn btn-primary pull-right' value="{% trans 'NEXT' %}">
		{% endif %}
	</form>
</div>
<script type="text/javascript" charset="utf-8">
function set_c() {
	var correct = {{ answered.answered }};
	// get list of radio buttons with specified name
	{% if question.type == 'standard' %}
	var radios = $('input[name=question]');

	// loop through list of radio buttons
	for (var i=0, len=radios.length; i<len; i++) {
		if ( radios[i].value == correct) { // radio checked?
			radios[i].checked = true; // if so, hold its value in val
		}
	}
	{% else %}
	for (var i=1; i<5; i++) {
		$('#answer_' + i).val(correct[i]);
	}
	{% endif %}
}

function go_to(question){
    var ref = window.location.href;
    var ref_splited = ref.split("/");
    ref_splited[8] = question.val;
    ref_splited = ref_splited.join("/");
    window.location.reload(ref_splited);
}

set_c();

</script>
</html>
