{% extends 'base.html' %}
{% load i18n %}

{% block main %}
{#	<h2>{% trans 'Total score' %}: {{total_score}}</h2>#}
    <h2>Вариант №: {{ test_variant }}</h2>
    <h2> {% trans 'Result of final exam' %}  : 
{#    {% if study_model == 'CREDIT' %}#}
        {{ total_score }} {% trans 'points' %},
{#    {% else %}#}
{#        {% trans 'Grade' %}: {{ grade }}#}
{#    {% endif %}#}
    </h2>
    <h2>GPA: {{ gpa.0 }}</h2>
    <h2>Буквенная оценка: {{ gpa.1 }}</h2>
    <h2>Итоговая оценка: {{ gpa.2 }}</h2>
    <h2>Традиционная оценка: {{ gpa.3 }}</h2>

    <h3>Неправильные ответы</h3>

    <table class="table table-bordered">
        <td colspan="4">
            <h4><strong>Стандартные вопросы</strong></h4>
        </td>
        <tr align="center">
            <td><strong>№</strong></td>
            <td><strong>Вопрос</strong></td>
            <td><strong>Ваш ответ</strong></td>
            <td><strong>Правильный ответ</strong></td>
        </tr>
        <tr>

        </tr>
        {% for k, v in student_errors.items %}
            <tr>
                <td>
                    {{ k }}
                </td>

                <td>
                    {% if "|||" in v.0 %}
                        <img src="/media/{{ v.0|slice:"3:" }}">
                    {% else %}
                        {{ v.0|safe }}
                    {% endif %}
                </td>

                <td>
                    {% if "|||" in v.1 %}
                        <img src="/media/{{ v.1|slice:"3:" }}">
                    {% else %}
                        {{ v.1|safe }}
                    {% endif %}
                </td>

                <td>
                    {% if "|||" in v.2 %}
                        <img src="/media/{{ v.2|slice:"3:" }}">
                    {% else %}
                        {{ v.2|safe }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <table class="table table-bordered">
        <tr>
            <td colspan="4">
                <h4><strong>Вопросы на соответствие</strong></h4>
            </td>
        </tr>
        {% for k, v in student_errors_fit.items %}
            <tr>
                <td>
                    {{ k }}
                </td>
                <td colspan="3">
                    <strong>{{ v.0.0 }}</strong>
                </td>
            </tr>
            <tr>
                <td colspan="2"><strong>Вопрос</strong></td>
                <td><strong>Ваш ответ</strong></td>
                <td><strong>Правильный ответ</strong></td>
            </tr>
                {% for l in v %}
                    <tr>
                        <td colspan="2">
                            {% if "|||" in l.1 %}
                                <img src="/media/{{ l.1|slice:"3:" }}">
                            {% else %}
                                {{ l.1|safe }}
                            {% endif %}
                        </td>
                        <td>
                            {% if "|||" in l.2 %}
                                <img src="/media/{{ l.2|slice:"3:" }}">
                            {% else %}
                                {{ l.2|safe }}
                            {% endif %}
                        </td>
                        <td>
                            {% if "|||" in l.3 %}
                                <img src="/media/{{ l.3|slice:"3:" }}">
                            {% else %}
                                {{ l.3|safe }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
        {% endfor %}
    </table>
{% endblock %}
