{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
	{% trans 'Math test editor' %}
{% endblock %}

{% block head %}
    <script src="{% static 'tinymce3/jscripts/tiny_mce/tiny_mce.js' %}"></script>
    <script>	
	    tinyMCE.init({
			mode : "textareas",
			theme: "advanced",
        	plugins : "fmath_formula,autolink,lists,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",

	        // Theme options
	        theme_advanced_buttons1 : "fmath_formula,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,formatselect,fontselect,fontsizeselect",
	        theme_advanced_buttons2 : "bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,preview,|,forecolor,backcolor,|,print,|,ltr,rtl,|,fullscreen",
	        theme_advanced_buttons3 : "tablecontrols,|,hr,visualaid,|,sub,sup,|,charmap,iespell,advhr",
	        theme_advanced_toolbar_location : "top",
	        theme_advanced_toolbar_align : "left",
	        theme_advanced_statusbar_location : "bottom",
	        theme_advanced_resizing : true,
		});
	</script>
{% endblock %}

{% block main %}

		<!-- Форма заполнения -->
		<form method="post">
		{% csrf_token %}
			<table class='table'>
				<tr><th>{{ subject }} - {{ question_count }}</th></tr>
				<tr><th>{% trans 'Question' %}</th></tr>
				<tr>
					<td>
						<textarea rows="5" cols="90"  name="v0">{{ q }}</textarea>
					</td>
				</tr>
			</table>

			<table class='table'>
			<tr>
				<th>{% trans 'Correct answer' %}</th>
			</tr>
			<tr>
				<td>
					<textarea  rows="5" cols="90" name="v1">{{ c_a }}</textarea>
				</td>
			</tr>
			<tr>
				<th>{% trans 'Answer option' %}</th>
			</tr>
			<tr>
				<td>
					<textarea  rows="5" cols="90" name="v2">{{ a2 }}</textarea>
				</td>
			</tr>
			<tr>
				<th>{% trans 'Answer option' %}</th>
			</tr>
			<tr>
				<td>
					<textarea rows="5" cols="90" name="v3">{{ a3 }}</textarea>
				</td>
			</tr>
			<tr>
				<th>{% trans 'Answer option' %}</th>
			</tr>
			<tr>
				<td>
					<textarea rows="5" cols="90" name="v4">{{ a4 }}</textarea>
				</td>
			</tr>
			</table>
			<input class='btn btn-primary pull-right' type="submit" value="{% trans 'Save' %}">
		</form>
{% endblock %}
