{% extends 'base.html' %}
{% load i18n %}

{% block main %}
<form method='post' enctype="multipart/form-data">
	{% csrf_token %}
	<table class='table table-bordered'>
        {{ form }}
        <tr>
            <td colspan="2">
                <input type="submit" class='btn btn-primary pull-right' value="{% trans "Upload" %}"/>
            </td>
        </tr>
	</table>
</form>
{% endblock %}
