{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Groups' %}
{% endblock %}

{% block main %}

    <div class="box-header">
      <h3 class="box-title">{% trans 'Groups'%}</h3>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-primary" href="{% url 'faculty_add' %}">{% trans 'Add' %}</a>
        </div>
    </div>
    <table class="table-responsive table table-bordered">
        <tr>
            <th>{% trans 'Speciality' %}</th>
            <th>{% trans 'Name' %}</th>
        </tr>

    {% for faculty in faculties %}
        <tr>
            <td>{{ faculty.speciality }}</td>
            <td>{{ faculty.name }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
