{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Groups' %}
{% endblock %}

{% block main %}

    <div class="box-header">
      <h3 class="box-title">{% trans 'Groups'%}</h3>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-primary" href="{% url 'learning_group_add' %}">{% trans 'Add' %}</a>
        </div>
    </div>
    <table class="table-responsive table table-bordered">
        <tr>
            <th>{% trans 'Speciality' %}</th>
            <th>{% trans 'Language' %}</th>
            <th>{% trans 'Subgroup letter' %}</th>
            <th>{% trans 'Study type' %}</th>
            <th>{% trans 'Study model' %}</th>
            <th>{% trans 'Entrance year' %}</th>
            <th>{% trans 'Course' %}</th>
            <th>{% trans 'State' %}</th>
            {% if request.user.is_superuser %}
            <th>{% trans 'Transcript' %}</th>
            {% endif %}
        </tr>

    {% for group in groups %}
        <tr>
            <td>{{ group.speciality }}</td>
            <td>{{ group.language }}</td>
            <td>{{ group.subgroup_letter }}</td>
            <td>{{ group.study_type }}</td>
            <td>{{ group.study_model }}</td>
            <td>{{ group.entrance_year }}</td>
            <td>{{ group.course }}</td>
            <td>{{ group.state }}</td>
            {% if request.user.is_superuser %}
            <td><a href="{% url 'download_transcript' pk=group.pk %}">{% trans "Download" %}</a></td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
{% endblock %}
