{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Languages' %}
{% endblock %}

{% block main %}

    <div class="box-header">
        <h3 class="box-title">{% trans 'Languages' %}</h3>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-primary" href="{% url 'lang_add' %}">{% trans 'Add' %}</a>
        </div>
    </div>

    <table class="table-responsive table table-bordered">
        <tr>
            <th>{% trans 'Language' %}</th>
            <th>{% trans 'Short name' %}</th>
        </tr>

    {% for language in languages %}
        <tr>
            <td>{{ language.name }}</td>
            <td>{{ language.short_name }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}