{% extends 'base.html' %}
{% load i18n %}

{% block head %}
    {% include 'include_files/dataTables.html' %}
{% endblock %}

{% block title %}
    {% trans 'Mark books' %}
{% endblock %}

{% block main %}
    <div class="box-header">
      <h3 class="box-title">{% trans 'Mark books'%}</h3>
    </div>
    <table id='table' class="table-responsive table table-bordered table-striped">
    	<thead>
    	<tr>
    		<th>{% trans 'Subject' %}</th>
			<th>{% trans 'Learning group' %}</th>
			<th>{% trans 'Teacher' %}</th>
		</tr>
		</thead>
		<tbody>
		{% for mb in mark_book %}
		<tr>
				<td>{{ mb.subject }}</td>
				<td>{{ mb.learning_group }}</td>
				<td>{{ mb.teacher }}</td>
		</tr>
		{% endfor %}
		</tbody>
    </table>
{% endblock %}
