{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Specializations' %}
{% endblock %}

{% block main %}

    <div class="box-header">
        <h3 class="box-title">{% trans 'Specializations' %}</h3>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-primary" href="{% url 'specialization_add' %}">{% trans 'Add' %}</a>
        </div>
    </div>

    <table class="table table-responsive table-bordered">
    <tr>
        <th>{% trans 'Code' %}</th>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Speciality' %}</th>
    </tr>

    {% for specializaton in specializations %}
            <td>{{ specializaton.code }}</td>
            <td>{{ specializaton.name }}</td>
            <td>{{ specializaton.speciality }}</td>
    {% endfor %}
    </table>
{% endblock %}