{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Specialities' %}
{% endblock %}

{% block main %}

    <div class="box-header">
        <h3 class="box-title">{% trans 'Specialities' %}</h3>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-primary" href="{% url 'speciality_add' %}">{% trans 'Add' %}</a>
        </div>
    </div>
    <table class="table table-responsive table-bordered">
    <tr>
        <th>{% trans 'Code' %}</th>
        <th>{% trans 'Name' %}</th>
    </tr>
    {% for speciality in specialities %}
        <tr>
            <td>{{ speciality.code }}</td>
            <td>{{ speciality.name }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}