{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
{% trans 'Set marks' %}
{% endblock %}

{% block head %}
    <script src="{% static 'js/datePicker/bootstrap-datepicker.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/datePicker/datepickerInit.js' %}" type="text/javascript"></script>
    {% include "autocomplete_light/static.html" %}
{% endblock %}

{% block main %}

<div class="box-header">
    <h3 class="box-title">{% trans 'Learning group' %}: {{ learning_group }}</h3>
</div>
<div class="row">
</div>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <table class="table table-bordered">
        {{operations_form}}
    </table>

    <table class="table table-hover table-condensed table-striped">
        <tr>
            <th>{% trans 'Number' %}</th>
            <th>{% trans 'Full name' %}</th>
            <th>{% trans 'Check' %}</th>
        </tr>
        {{ formset.management_form }}
        {% for form in formset %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{  form.instance.get_full_name  }}</td>

            {% for field in form.visible_fields %}
				<td>{{field.errors}}{{ field }}</td>
            {% endfor %}

            {% for hidden in form.hidden_fields %}
				{{ hidden }}    
            {% endfor %}
        </tr>
        {% endfor %}
        <tr>
            <td colspan="3"><input type=submit class="btn btn-primary" value="{% trans "Save" %}"></td>
        </tr>
    </table>
</form>
{% endblock %}
