{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Teachers not set marks' %}
{% endblock %}

{% block main %}

<div class="box-header">
    <h3 class="box-title">{% trans 'Teachers not set marks' %}</h3>
</div>

<table class="table table-responsive table-bordered" width="100%">
    <col width="35%">
    <col width="65%">
    <tr>
        <th>{% trans 'Teacher' %}</th>
        <th>{% trans 'MarkBooks' %}</th>
    </tr>

    {% for teachers in data.itervalues %}
        {% for teacher, mark_books in teachers.iteritems %}
            <tr>
                <td>
                    {{forloop.counter }}. {{ teacher }}
                </td>
                <td>
                    <table width="100%">
                        <col width="70%">
                        <col width="30%">
                        <tr>
                            <th>{% trans 'Subject' %}</th>
                            <th>{% trans 'Learning group' %}</th>
                        </tr>
                        {% for mark_book in mark_books %}
                        <tr>
                            <td>{{ mark_book.subject }}</td>
                            <td>{{ mark_book.learning_group }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>
{% endblock %}
