{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Teacher List' %}
{% endblock %}

{% block main %}
    <div class="box-header">
      <h3 class="box-title">{{ teacher.get_full_name }}</h3>
    </div>
    <div class="box-body">
        <table class = "table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>{% trans 'Picture' %}</th>
                    <th>{% trans 'Position' %}</th>
                    <th>{% trans 'Faculty' %}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="/media/{{ teacher.picture }}"/>
                        </td>
                    <td>{% trans teacher.position.name %}</td>
                    <td>{{ teacher.faculty }}</td>
                </tr>
                <tr>
                    <td colspan="3">{{ teacher.objective_information|safe }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

