{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Teacher List' %}
{% endblock %}

{% block head %}
    {% include 'include_files/dataTables.html' %}
{% endblock %}

{% block main %}
    <div class="box-header">
      <h3 class="box-title">{% trans 'Teacher list' %}</h3>
    </div>
    <div class="box box-footer">
        <a class="btn btn-primary glyphicon glyphicon-plus-sign" href="{%  url 'teacher_add' %} "> {% trans 'New' %}</a>
    </div>
    <div class="box-body">
        <table id = 'table' class = " table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>{% trans 'Number' %}</th>
                    <th>{% trans 'Full name' %}</th>
                    <th>{% trans 'Login' %}</th>
                    <th>{% trans 'Position' %}</th>
                    <th>{% trans 'Faculty' %}</th>
                    <th>{% trans 'Actions' %}</th>
                </tr>
            </thead>
            <tbody>
              {% for teacher in teachers %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ teacher.get_full_name }}</td>
                    <td>{{ teacher.username }}</td>
                    <td>{{ teacher.position }}</td>
                    <td>{{ teacher.faculty }}</td>
                    <td>
	                    <div class="dropdown">
						  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    {% trans 'Actions' %}
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						    <li>
    	                        <a href="{% url 'teacher_update' pk=teacher.pk %}">
        	        	            <span class="glyphicon glyphicon-edit"> {% trans 'Edit' %}</span>
            		            </a>
							</li>
						    <li>
			                    <a href="{% url 'teacher_detail' teacher_id=teacher.pk %}">
			                        <span class="glyphicon glyphicon-eye-open"> {% trans 'Detail' %}</span>
			                    </a>						    
						    </li>
						  </ul>
						</div>
					</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
