{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block head %}
    {% include 'autocomplete_light/static.html' %}
    <script src="{% static 'tinymce3/jscripts/tiny_mce/tiny_mce.js' %}"></script>
    <script>	
	    tinyMCE.init({
			mode : "textareas",
			theme: "advanced",
        	plugins : "fmath_formula,autolink,lists,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",

	        // Theme options
	        theme_advanced_buttons1 : "fmath_formula,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,formatselect,fontselect,fontsizeselect",
	        theme_advanced_buttons2 : "bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,preview,|,forecolor,backcolor,|,print,|,ltr,rtl,|,fullscreen",
	        theme_advanced_buttons3 : "tablecontrols,|,hr,visualaid,|,sub,sup,|,charmap,iespell,advhr",
	        theme_advanced_toolbar_location : "top",
	        theme_advanced_toolbar_align : "left",
	        theme_advanced_statusbar_location : "bottom",
	        theme_advanced_resizing : true,
		});
	</script>
{% endblock %}
{% block main %}
    <div class="box-header">
      <h3 class="box-title">{% trans 'Teacher list' %}</h3>
    </div>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <table class="table table-bordered">
        {{ form }}
            <tr>
                <td></td>
                <td>
                    <input class="btn btn-primary" type="submit" value="{% trans 'Update' %}">
                </td>
            </tr>
        </table>
    </form>
{% endblock %}