{% load staticfiles %}

<script src ="{% static "js/dataTables/jquery.dataTables.min.js" %}"></script>
<script src ="{% static "js/dataTables/bootstrap.js" %}"></script>
<script src ="{% static "js/dataTables/dataTablesInit.js" %}"></script>
