{% load staticfiles %}
<script src ="{% static "js/datePicker/bootstrap-datepicker.js" %}"></script>
<script src ="{% static "js/datePicker/datepickerInit.js" %}"></script>
<link rel="stylesheet" href="{% static 'css/datepicker.css' %}"/>